<!-- Modal -->
<div class="modal fade"
  id="adminupdatecar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Modifier Une Voiture

          
        </h5>
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post" enctype='multipart/form-data' id="my_form_update">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputEmail4">
                nom de véhicule
              </label>
              <input id="nameUP" type="text"
                class="form-control"
                name="name"
                placeholder="nom de véhicule" />
            </div>
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputPassword4">
                prix du jour
              </label>
              <input type="number"
                class="form-control"
                name="price"
                id="priceUP"
                placeholder="prix du jour" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputEmail4">
                nom de la marque
              </label>
              <input type="text"
                class="form-control"
                name="marque"
                id="marqueUP"
                placeholder="nom de la marque" />
            </div>
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputPassword4">
                année de voiture
              </label>
              <input type="number"
                class="form-control"
                name="year"
                id="yearUP"
                placeholder="année de voiture" />
            </div>
          </div>

          <div class="form-group">
            <label class="text-primary" for="inputAddress2">
              image de la voiture
            </label>
            <div class="custom-file">
              <input type="file" name="pictures[]" class="custom-file-input" id="pictures" multiple />
              <label class="custom-file-label" for="customFile">
                choisir des images
              </label>
            </div>
          </div>
          

          <div class="form-group">
            <label class="text-primary"
              for="message-text"
              class="col-form-label">
              description:
            </label>
            <textarea class="form-control"  name="description" id="descriptionUP"></textarea>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input"
                checked="checked"
                type="checkbox"
                name="available"
                id="availableUP"
                id="gridCheck" />
              <label class="form-check-label" for="gridCheck">
                disponibilité
              </label>
            </div>
          </div>
        </div>
        <ul id="myListImage">
            
        </ul>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" name="submit" value="Submit Form" id="btnSubmit" class="btn btn-primary">
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end switcher -->

<script>

  $("#my_form_update").submit(function(event){
    event.preventDefault(); //prevent default action 
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object
    

    var c = document.getElementById("myListImage").children;
   
    var i;

    
for (i = 0; i < c.length; i++) {

  if(c[i].style!=undefined)
  {
   
    if (c[i].style.visibility === 'hidden') {
      
       $.get("http://127.0.0.1:8000/deleteimg/"+c[i].id.replace("LI",""), function(data, status){
        console.log(data)
    });
      } else {
        console.log('trtrt' )
      }

  }
        
    
    
    }

    $.ajax({
        url : post_url,
        type: request_method,
        data : form_data,
		contentType: false,
		cache: false,
		processData:false
    }).done(function(response){ //
       console.log(response)
       alert("votre article est modifier");
    }).fail(function(xhr, status, error) {
      console.log(error,status,xhr)
      alert("invalide donné!");
  });
});

</script>