/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Isnaider
Version:  1.0
Assigned to:  WebNik
Primary use:  Isnaider
-------------------------------------------------------------------*/


/* FONTS*/
@import 'https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i';
@import '../fonts/fontawesome-free-5.8.1/css/all.min.css';
@import '../fonts/stroke/style.css';
@import '../fonts/elegant/style.css';
@import '../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css';
@import '../fonts/simple-line-icons/css/simple-line-icons.css';
@import '../fonts/flaticon/font/flaticon.css';



/* PLUGIN CSS */

@import '../libs/bootstrap-4.1.3/bootstrap.css';                /* bootstrap */
@import '../plugins/headers/header.css';                /* header */
@import '../plugins/headers/yamm.css';                /* header */
@import '../plugins/slider-pro/slider-pro.css';         /* main slider */
@import '../plugins/slick/slick.css';         /* sliders */
@import '../plugins/slick/slick-theme.css';         /* sliders */
@import '../plugins/magnific-popup/magnific-popup.css';            /* modal */
@import '../plugins/animate/animate.css';                        /* animations */
@import '../plugins/flowplayer/skin/playful.css';          /* video-player */
@import '../plugins/noUiSlider/nouislider.css';          /* slider number */
@import '../plugins/bootstrap-select/css/bootstrap-select.min.css';                /* bootstrap-select */



/* MAIN CSS */

@import 'main.css';
@import 'color.css';
@import 'responsive.css';

.alert {
    padding: 20px;
    background-color: #e5f0cb;
    color: #3a8415;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

}

.closebtn:hover {
    color: black;
}
