{% extends 'index.html.twig' %}
{% block body %}
      <!-- Loader-->
      <!--div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div-->
      <!-- Loader end-->
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">


        {% include "navbar.html.twig" %}


      <div class="section-title-page area-bg area-bg_dark area-bg_op_60">
        <div class="area-bg__inner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md">
                <h1 class="b-title-page">Latest News</h1>
                <div class="ui-decor bg-primary"></div>
              </div>
              <div class="col-md-auto"><a class="b-title-page__btn bg-primary" href="#">Smarter Way to Buy or Sell Cars</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-title-page-->
      
      <div class="container text-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home.html"><i class="ic text-primary fas fa-home"></i> Car Dealers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Latest News</li>
          </ol>
        </nav>
      </div>
      <!-- end breadcrumb-->
      
      <div class="l-main-content">
        <div class="container">
          <main class="b-post-group mt-4">
            <div class="js-scroll-content">
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Recalls trucks, SUVs Cars to fix airbag problem</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/1.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/1.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Auto buying guide: All things to remember</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/2.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/2.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Eutocus inaugurated first 5S facility showroom</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/3.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/3.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">U.S. brings change in autos import policy 2019</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/4.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/4.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="js-scroll-next text-center">
              <button class="btn btn-default btn-lg" type="button">LOAD MORE</button>
            </div>
            <div class="js-scroll-content">
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Recalls trucks, SUVs Cars to fix airbag problem</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/1.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/1.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Auto buying guide: All things to remember</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/2.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/2.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Eutocus inaugurated first 5S facility showroom</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/3.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/3.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-2 row">
                <div class="entry-main col-lg-5">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">U.S. brings change in autos import policy 2019</a></h2>
                  </div>
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span>
                  </div>
                  <div class="entry-content">Dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="entry-footer"><a class="btn btn-primary" href="#">Read More</a></div>
                </div>
                <div class="entry-media col-lg-7"><a class="js-zoom-images" href="assets/media/content/b-post/600x430/4.jpg"><img class="img-scale" src="assets/media/content/b-post/600x430/4.jpg" alt="Foto"/></a></div>
              </section>
              <!-- end .b-post-->
              
            </div>
          </main>
        </div>
      </div>

    </div>
    <!-- end layout-theme-->
    

  
{% endblock %}