{% extends 'index.html.twig' %}
{% block body %}
      <!-- Loader-->
      <!--div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div-->
      <!-- Loader end-->
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">


        {% include "navbar.html.twig" %}

      <div class="section-title-page area-bg area-bg_dark area-bg_op_60">
        <div class="area-bg__inner">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md">
                <h1 class="b-title-page">Contact</h1>
                <div class="ui-decor bg-primary"></div>
              </div>
              <div class="col-md-auto"><a class="b-title-page__btn bg-primary"  >Plus Informations</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-title-page-->
      {% for message in app.flashes('success') %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Succès!</strong> {{ message }}!
        </div>

      {% endfor %}
      
      <div class="container text-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ic text-primary fas fa-home"></i>Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
          </ol>
        </nav>
      </div>
      <!-- end breadcrumb-->
      
      <div class="l-main-content">
        <div class="container">
    
            
            
            
            <div class="row">
              <div class="col-md-6">
                <div id="map"></div>
                <script>

                  function initMap() {
                    var myLatLng = {lat: 35.8470718, lng: 10.5796753};

                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: myLatLng
                    });

                    var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'sahloul'
                    });
                  }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp9sDlmoT_N8slZ1kUv--D6HI5W7iZIYI&callback=initMap">
                </script>
              </div>
              <div class="col-md-6">
                <section class="section-form-contacts">
                  <h2 class="ui-title-inner">Envoyer un<span class="text-primary"> Message</span></h2>
                  <p>S'il vous plaît nous envoyer vos questions concernant nos véhicules.</p>
                  <div id="success"></div>
{#                  <form class="b-form-contacts ui-form" id="contactForm" action="#" method="post">#}
{#                    <div class="form-group">#}
{#                      <input class="form-control" id="user-name" type="text" name="user-name" placeholder="Your Name" required="required"/>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                      <input class="form-control" id="user-email" type="email" name="user-email" placeholder="email"/>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                      <textarea class="form-control" id="user-message" rows="5" placeholder="Message" required="required"></textarea>#}
{#                    </div>#}
{#                    <button class="btn btn-primary">Send Message</button>#}
{#                  </form>#}
                  {{form_start(form)}}
                  {{form_widget(form)}}
                  {{form_end(form)}}

                </section>
                <!-- end .b-form-contact-->
              </div>
            </div>
            
            
            
        </div>
      </div>

    </div>
    <!-- end layout-theme-->
    


 
 {% endblock %}