{% extends 'index.html.twig' %}
{% block body %}
      <!-- Loader-->
      <!--div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div-->
      <!-- Loader end-->
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">

        {% include "navbar.html.twig" %}


      <div class="section-title-page section-title-page_mod-a area-bg area-bg_dark area-bg_op_60">
        <div class="area-bg__inner">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h1 class="b-title-page">The Auto Forums</h1>
                <div class="ui-decor bg-primary"></div>
                <div class="b-title-page__info">Ask your questions, get the experts advice, talk to buyers and sellers or share your vehicle reviews!</div>
                <form class="b-title-search"><i class="ic fas fa-search"></i>
                  <input class="b-title-search__input" type="text" placeholder="Enter your search term"/>
                  <button class="btn btn-primary">SEARCH</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-title-page-->
      
      <div class="container text-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home.html"><i class="ic text-primary fas fa-home"></i> Car Dealers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Auto Experts Forum</li>
          </ol>
        </nav>
      </div>
      <!-- end breadcrumb-->
      
      <div class="l-main-content">
        <div class="container">
          <main>
            <div class="b-forum-bnr row no-gutters">
              <div class="col-md">
                <div class="b-forum-bnr__main">
                  <div class="b-forum-bnr__title">Why Isnaider Autos Dealer?</div>
                  <ul class="b-forum-bnr__list list-unstyled">
                    <li>-  Huge selection of autos</li>
                    <li>-  All our cars are hand-picked</li>
                    <li>-  Rated by the best with checks</li>
                    <li>-  Priced to give real value!</li>
                  </ul><a class="btn btn-primary btn-lg" href="#">register now</a>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="b-forum-total">
                  <div class="b-forum-total__item">
                    <div class="b-forum-total__number text-primary">58</div>
                    <div class="b-forum-total__info">Number of Forums</div>
                    <div class="ui-decor"></div>
                  </div>
                  <div class="b-forum-total__item">
                    <div class="b-forum-total__number text-primary">193</div>
                    <div class="b-forum-total__info">Expert Replies</div>
                    <div class="ui-decor"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .b-forum-bnr--><div class="section forum-table">
<div id="bbpress-forums">
<ul id="forums-list-0" class="bbp-forums">
<li class="bbp-header">
<ul class="forum-titles">
<li class="bbp-forum-info">Forum</li>
<li class="bbp-forum-topic-count">Topics</li>
<li class="bbp-forum-reply-count">Posts</li>
<li class="bbp-forum-freshness">Freshness</li>
</ul>
</li>
<li class="bbp-body">
<ul id="bbp-forum-10" class="loop-item-01 hentry">
<li class="bbp-forum-info">
<a class="bbp-forum-title" href="http://templines.rocks/"><i class="fas fa-bullhorn"></i>Auto News</a>
<div class="bbp-forum-content">bbPress Forums Category Description</div>
</li>
<li class="bbp-forum-topic-count">7</li>
<li class="bbp-forum-reply-count">21</li>
<li class="bbp-forum-freshness">
<div class="freshness-wrap d-flex d-flex justify-content-end">
<div class="freshness-text">
<h5>Mark Steven</h5>
<h6><i class="ic far fa-clock text-primary"></i>1 month, 1 week ago</h6>
</div>
<div class="freshness-img"><img class="img-fluid" src="assets/media/content/b-forum/1.jpg" alt="alt"></div>
</div>
</li>
</ul>
</li>
<!-- .bbp-body -->
<li class="bbp-body">
<ul id="bbp-forum-11" class="loop-item-01 hentry">
<li class="bbp-forum-info">
<a class="bbp-forum-title" href="http://templines.rocks/"><i class="fas fa-globe-americas"></i>Get Expert Advice</a>
<div class="bbp-forum-content">bbPress Forums Category Description</div>
</li>
<li class="bbp-forum-topic-count">7</li>
<li class="bbp-forum-reply-count">21</li>
<li class="bbp-forum-freshness">
<div class="freshness-wrap d-flex d-flex justify-content-end">
<div class="freshness-text">
<h5>Doris Ryan</h5>
<h6><i class="ic far fa-clock text-primary"></i>4 month, 2 week ago</h6>
</div>
<div class="freshness-img"><img class="img-fluid" src="assets/media/content/b-forum/1.jpg" alt="alt"></div>
</div>
</li>
</ul>
</li>
<!-- .bbp-body -->
<li class="bbp-body">
<ul id="bbp-forum-12" class="loop-item-01 hentry">
<li class="bbp-forum-info">
<a class="bbp-forum-title" href="http://templines.rocks/"><i class="fas fa-server"></i>Ask Your Questions</a>
<div class="bbp-forum-content">bbPress Forums Category Description</div>
<ul class="bbp-forums-list">
<li class="bbp-forum"><a href="http://templines.rocks/" class="bbp-forum-link">Buying a Car  (13, 28)</a>, </li>
<li class="bbp-forum"><a href="http://templines.rocks/" class="bbp-forum-link">Selling a Car (54, 9)</a>, </li>
<li class="bbp-forum"><a href="http://templines.rocks/" class="bbp-forum-link">Mechanical Problems (23, 47)</a></li>
</ul>
</li>
<li class="bbp-forum-topic-count">7</li>
<li class="bbp-forum-reply-count">21</li>
<li class="bbp-forum-freshness">
<div class="freshness-wrap d-flex d-flex justify-content-end">
<div class="freshness-text">
<h5>Steven Bryant</h5>
<h6><i class="ic far fa-clock text-primary"></i>4 month, 2 week ago</h6>
</div>
<div class="freshness-img"><img class="img-fluid" src="assets/media/content/b-forum/1.jpg" alt="alt"></div>
</div>
</li>
</ul>
</li>
<!-- .bbp-body -->
<li class="bbp-body">
<ul id="bbp-forum-13" class="loop-item-01 hentry">
<li class="bbp-forum-info">
<a class="bbp-forum-title" href="http://templines.rocks/"><i class="fas fa-file-alt"></i>Discuss Auto Finance </a>
<div class="bbp-forum-content">bbPress Forums Category Description</div>
</li>
<li class="bbp-forum-topic-count">7</li>
<li class="bbp-forum-reply-count">21</li>
<li class="bbp-forum-freshness">
<div class="freshness-wrap d-flex d-flex justify-content-end">
<div class="freshness-text">
<h5>Raymond Taylor</h5>
<h6><i class="ic far fa-clock text-primary"></i>4 month, 2 week ago</h6>
</div>
<div class="freshness-img"><img class="img-fluid" src="assets/media/content/b-forum/1.jpg" alt="alt"></div>
</div>
</li>
</ul>
</li>
<!-- .bbp-body -->
<li class="bbp-body">
<ul id="bbp-forum-14" class="loop-item-01 hentry">
<li class="bbp-forum-info">
<a class="bbp-forum-title" href="http://templines.rocks/"><i class="fas fa-car-side"></i>Vehicles Brands</a>
<div class="bbp-forum-content">bbPress Forums Category Description</div>
</li>
<li class="bbp-forum-topic-count">7</li>
<li class="bbp-forum-reply-count">21</li>
<li class="bbp-forum-freshness">
<div class="freshness-wrap d-flex d-flex justify-content-end">
<div class="freshness-text">
<h5>Raymond Taylor</h5>
<h6><i class="ic far fa-clock text-primary"></i>4 month, 2 week ago</h6>
</div>
<div class="freshness-img"><img class="img-fluid" src="assets/media/content/b-forum/1.jpg" alt="alt"></div>
</div>
</li>
</ul>
</li>
<!-- .bbp-body -->
<li class="bbp-body">
<ul id="bbp-forum-15" class="loop-item-01 hentry">
<li class="bbp-forum-info">
<a class="bbp-forum-title" href="http://templines.rocks/"><i class="fas fa-comment-alt"></i>Cars Reviews</a>
<div class="bbp-forum-content">bbPress Forums Category Description</div>
</li>
<li class="bbp-forum-topic-count">7</li>
<li class="bbp-forum-reply-count">21</li>
<li class="bbp-forum-freshness">
<div class="freshness-wrap d-flex d-flex justify-content-end">
<div class="freshness-text">
<h5>Raymond Taylor</h5>
<h6><i class="ic far fa-clock text-primary"></i>4 month, 2 week ago</h6>
</div>
<div class="freshness-img"><img class="img-fluid" src="assets/media/content/b-forum/1.jpg" alt="alt"></div>
</div>
</li>
</ul>
</li>
<!-- .bbp-body -->
</ul>
<!-- .forums-directory -->
</div>
</div>
            <!-- end .b-forum-->
            
          </main>
        </div>
      </div>

    </div>
    <!-- end layout-theme-->
    

 
 
  
{% endblock %}