{% extends 'index.html.twig' %}
{% block body %}
      <!-- Loader-->
      <!--div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div-->
      <!-- Loader end-->
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">

       
  
        
     <!--HEADER-->
     {% include "navbar.html.twig" %}
      <!-- end .header-->
      <div class="main-slider slider-pro" id="main-slider" data-slider-width="100%" data-slider-height="900px" data-slider-arrows="true" data-slider-buttons="false">
        <div class="sp-slides">
          <!-- Slide 1-->
          <div class="main-slider__slide sp-slide"><img class="sp-image" src="{{ asset('assets/media/content/b-main-slider/bg-3.jpg')}}" alt="slider"/>
            <div class="sp-layer" data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400">
              <div class="main-slider__slogan">Location des voitures</div>
              <div class="main-slider__title">Trouvez votre voiture</div>
            </div>
            <div class="sp-layer" data-width="100%" data-show-transition="down" data-hide-transition="top" data-show-duration="1500" data-show-delay="800" data-hide-delay="400"><img class="main-slider__figure-1 img-fluid" src="{{ asset('assets/media/content/b-main-slider/fig-1.png')}}" alt="foto"/></div>
            <div class="sp-layer" data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400"><a class="main-slider__link"  href="{{ path('reservation-grid') }}">Réserver Votre Voiture</a></div>
          </div>
        </div>
        <div class="sp-slides">
          <!-- Slide 1-->
          <div class="main-slider__slide sp-slide"><img class="sp-image" src="{{ asset('assets/media/content/b-main-slider/bg-4.jpg')}}" alt="slider"/>
            <div class="sp-layer" data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400">
              <div class="main-slider__slogan">Location des voitures</div>
              <div class="main-slider__title">Trouvez votre voiture</div>
            </div>
            <div class="sp-layer" data-width="100%" data-show-transition="down" data-hide-transition="top" data-show-duration="1500" data-show-delay="800" data-hide-delay="400"><img class="main-slider__figure-1 img-fluid" src="{{ asset('assets/media/content/b-main-slider/fig-1.png')}}" alt="foto"/></div>
            <div class="sp-layer" data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400"><a class="main-slider__link" href="{{ path('reservation-grid') }}">Réserver Votre Voiture</a></div>
          </div>
        </div>
      </div>
      <!-- end .main-slider-->
      
      <div class="group-sections">
        <div class="container">
          <div class="b-main-filter bg-primary">
          {{form_start(form)}}

{#          <form class="b-main-filter bg-primary">#}

            <div class="row align-items-center">
              <div class="col-lg">
                <div class="form-row">
                  <div class="col-md-4">
                    <div class="form-group">
{#                      <select class="selectpicker" data-width="100%" title="Marque" multiple="multiple" data-max-options="1" data-style="ui-select">#}
{#                        <option>Select 1</option>#}
{#                        <option>Select 2</option>#}
{#                        <option>Select 3</option>#}
{#                      </select>#}
{#                      {{form_widget(form.Marque)}}#}
                      <input class="form-control" name="Marque" type="text" placeholder="Marque"/>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
{#                      <select class="selectpicker" data-width="100%" title="Model" multiple="multiple" data-max-options="1" data-style="ui-select">#}
{#                        <option>Select 1</option>#}
{#                        <option>Select 2</option>#}
{#                        <option>Select 3</option>#}
{#                      </select>#}
{#                      {{form_widget(form.Model)}}#}
                      <input class="form-control" name="Model" type="text" placeholder="Model"/>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
{#                      <select class="selectpicker" data-width="100%" title="Année" multiple="multiple" data-max-options="1" data-style="ui-select">#}
{#                        <option>Select 1</option>#}
{#                        <option>Select 2</option>#}
{#                        <option>Select 3</option>#}
{#                      </select>#}
{#                      {{form_widget(form.Boite)}}#}
                      <input class="form-control" name="Boite" type="text" placeholder="Boite Vitesse"/>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
{#                      <select class="selectpicker" data-width="100%" title="Prix" multiple="multiple" data-max-options="1" data-style="ui-select">#}
{#                        <option>Select 1</option>#}
{#                        <option>Select 2</option>#}
{#                        <option>Select 3</option>#}
{#                      </select>#}
{#                      {{form_widget(form.Prix)}}#}
                      <input class="form-control" name="Prix" type="number" placeholder="Prix"/>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
{#                      <select class="selectpicker" data-width="100%" title="Boite Vitesse" multiple="multiple" data-max-options="1" data-style="ui-select">#}
{#                        <option>Select 1</option>#}
{#                        <option>Select 2</option>#}
{#                        <option>Select 3</option>#}
{#                      </select>#}
{#                      {{form_widget(form.Annee)}}#}
                      <input class="form-control" name="Annee" type="number" placeholder="Année"/>
                    </div>
                  </div>
                  <div class="col-md-4 align-self-end">
{#                    <div class="form-group">#}
{#                      <div class="b-main-filter-slider ui-filter-slider pb-3">#}
{#                        <div id="filterPrice"></div>#}
{#                        <div class="b-main-filter__row">#}
{#                          <input class="b-main-filter__item" min="0" max="10000" id="input-with-keypress-0"/>#}
{#                          <input class="b-main-filter__item" min="0" max="10000" id="input-with-keypress-1"/>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
                     {{form_widget(form.save)}}
                  </div>
                </div>
              </div>
{#              <div class="col-lg-auto">#}
{#                <input type="submit" class="btn btn-secondary btn-lg ml-lg-3"><i class="ic icon-magnifier"></i> search</input>#}
{#              </div>#}
            </div>
{#          </form>#}

          {{form_end(form)}}
            </div>
        </div>
        <!-- end .b-main-filter-->
        
        <section class="section-default">
          <div class="container">
            <div class="row">
              <div class="col-md-10 offset-md-1 text-center">
                <div class="ui-subtitle">welcome to isnaider auto dealers</div>
                <h2 class="ui-title text-uppercase">premium car dealer</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ull laboris aliquip ex ea commodo consequat. Duis yirure dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint occaecat cupidatat. Non proident sunt ind culpa qudesa officia deserunt mollit anim est laborum sed per unde omnis iste natus error sit voluptatem accusantium dolore mque.</p>
              </div>
            </div>
            <div class="b-advantages-group row">
              <div class="col-lg-4">
                <div class="b-advantages row no-gutters">
                  <div class="col-auto"><i class="ic flaticon-lock"></i></div>
                  <div class="b-advantages__title col">We have the largest cars dealership</div>
                </div>
                <!-- end .b-advantages-->
              </div>
              <div class="col-lg-4">
                <div class="b-advantages row no-gutters active">
                  <div class="col-auto"><i class="ic flaticon-vehicle-3"></i></div>
                  <div class="b-advantages__title col">We offers the best cars prices for all</div>
                </div>
                <!-- end .b-advantages-->
              </div>
              <div class="col-lg-4">
                <div class="b-advantages row no-gutters">
                  <div class="col-auto"><i class="ic flaticon-toolbox-1"></i></div>
                  <div class="b-advantages__title col">We have modern workshop checkups</div>
                </div>
                <!-- end .b-advantages-->
              </div>
            </div>
          </div>
        </section>
        <section class="section-area">
          <div class="container">
            <div class="text-center">
              <div class="ui-subtitle">choose your dream cars</div>
              <h2 class="ui-title text-uppercase">Latest offers</h2>
              <div class="ui-decor bg-primary"></div>
            </div>
          </div>
         
            
    <div class="b-goods-slider js-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 1, &quot;autoplay&quot;: false, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}">
            <div class="b-goods-slider__item">
              <div class="b-goods-slider__img"><img class="img-scale" src="{{ asset('assets/media/content/b-goods-slider/1.png')}}" alt="foto"/></div>
              <div class="b-goods-slider__main">
                <div class="b-goods-slider__title">Lexus A35 Quad</div>
                <div class="b-goods-slider__price">Price:<strong class="text-primary"> 65,400</strong></div>
                <ul class="b-goods-slider__list list-unstyled">
                  <li class="b-goods-slider__desrip">New</li>
                  <li class="b-goods-slider__desrip">2019</li>
                  <li class="b-goods-slider__desrip">Manual</li>
                  <li class="b-goods-slider__desrip">Petrol</li>
                  <li class="b-goods-slider__desrip">54k mi</li>
                </ul>
              </div>
            </div>
            <!-- end .b-goods-->
            
            <div class="b-goods-slider__item">
              <div class="b-goods-slider__img"><img class="img-scale" src="{{ asset('assets/media/content/b-goods-slider/2.png')}}" alt="foto"/></div>
              <div class="b-goods-slider__main">
                <div class="b-goods-slider__title">Lexus A35 Quad</div>
                <div class="b-goods-slider__price">Price:<strong class="text-primary"> 65,400</strong></div>
                <ul class="b-goods-slider__list list-unstyled">
                  <li class="b-goods-slider__desrip">New</li>
                  <li class="b-goods-slider__desrip">2019</li>
                  <li class="b-goods-slider__desrip">Manual</li>
                  <li class="b-goods-slider__desrip">Petrol</li>
                  <li class="b-goods-slider__desrip">54k mi</li>
                </ul>
              </div>
            </div>
            <!-- end .b-goods-->
            
            <div class="b-goods-slider__item">
              <div class="b-goods-slider__img"><img class="img-scale" src="{{ asset('assets/media/content/b-goods-slider/3.png')}}" alt="foto"/></div>
              <div class="b-goods-slider__main">
                <div class="b-goods-slider__title">Lexus A35 Quad</div>
                <div class="b-goods-slider__price">Price:<strong class="text-primary"> 65,400</strong></div>
                <ul class="b-goods-slider__list list-unstyled">
                  <li class="b-goods-slider__desrip">New</li>
                  <li class="b-goods-slider__desrip">2019</li>
                  <li class="b-goods-slider__desrip">Manual</li>
                  <li class="b-goods-slider__desrip">Petrol</li>
                  <li class="b-goods-slider__desrip">54k mi</li>
                </ul>
              </div>
            </div>
            <!-- end .b-goods-->
            
            <div class="b-goods-slider__item">
              <div class="b-goods-slider__img"><img class="img-scale" src="{{ asset('assets/media/content/b-goods-slider/1.png')}}" alt="foto"/></div>
              <div class="b-goods-slider__main">
                <div class="b-goods-slider__title">Lexus A35 Quad</div>
                <div class="b-goods-slider__price">Price:<strong class="text-primary"> 65,400</strong></div>
                <ul class="b-goods-slider__list list-unstyled">
                  <li class="b-goods-slider__desrip">New</li>
                  <li class="b-goods-slider__desrip">2019</li>
                  <li class="b-goods-slider__desrip">Manual</li>
                  <li class="b-goods-slider__desrip">Petrol</li>
                  <li class="b-goods-slider__desrip">54k mi</li>
                </ul>
              </div>
            </div>
            <!-- end .b-goods-->
            
            <div class="b-goods-slider__item">
              <div class="b-goods-slider__img"><img class="img-scale" src="{{ asset('assets/media/content/b-goods-slider/2.png')}}" alt="foto"/></div>
              <div class="b-goods-slider__main">
                <div class="b-goods-slider__title">Lexus A35 Quad</div>
                <div class="b-goods-slider__price">Price:<strong class="text-primary"> 65,400</strong></div>
                <ul class="b-goods-slider__list list-unstyled">
                  <li class="b-goods-slider__desrip">New</li>
                  <li class="b-goods-slider__desrip">2019</li>
                  <li class="b-goods-slider__desrip">Manual</li>
                  <li class="b-goods-slider__desrip">Petrol</li>
                  <li class="b-goods-slider__desrip">54k mi</li>
                </ul>
              </div>
            </div>
            <!-- end .b-goods-->
            
            <div class="b-goods-slider__item">
              <div class="b-goods-slider__img"><img class="img-scale" src="{{ asset('assets/media/content/b-goods-slider/3.png')}}" alt="foto"/></div>
              <div class="b-goods-slider__main">
                <div class="b-goods-slider__title">Lexus A35 Quad</div>
                <div class="b-goods-slider__price">Price:<strong class="text-primary"> 65,400</strong></div>
                <ul class="b-goods-slider__list list-unstyled">
                  <li class="b-goods-slider__desrip">New</li>
                  <li class="b-goods-slider__desrip">2019</li>
                  <li class="b-goods-slider__desrip">Manual</li>
                  <li class="b-goods-slider__desrip">Petrol</li>
                  <li class="b-goods-slider__desrip">54k mi</li>
                </ul>
              </div>
            </div>
            <!-- end .b-goods-->
            
          </div>
           
        </section>
      </div>
      <section class="section-contacts section-default">
        <div class="container">
          <div class="section-contacts__inner">
            <div class="row align-items-end">
              <div class="col-lg-6">
                <ul class="b-progress-list list-unstyled">
                  <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent text-primary js-chart" data-percent="3874"><span class="js-percent"></span></span><span class="b-progress-list__name">Vehicles in Stock</span>
                  </li>
                  <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent text-primary js-chart" data-percent="265"><span class="js-percent"></span></span><span class="b-progress-list__name">Dealers Served</span>
                  </li>
                  <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent text-primary js-chart" data-percent="1450"><span class="js-percent"></span></span><span class="b-progress-list__name">Vehicles on Sale</span>
                  </li>
                </ul>
                <!-- end .b-progress-->
              </div>
              <div class="col-lg-6">
                <div class="b-contacts">
                  <h2 class="b-contacts__title">With Over<span class="text-primary"> 150+</span> Partners Locations</h2>
                  <div class="b-contacts__info">Labore dolore magna aliqua ipsum veniam quis nostrud exercitation voluptate velit cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident sunt in culpa.</div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="b-phone">
                        <div class="b-phone__ic fas fa-phone text-primary"></div>
                        <div class="b-phone__main">
                          <div class="b-phone__title">Got any questions?</div><a class="b-phone__phone" href="tel:4315292093">(431) 529 2093</a>
                          <div class="b-phone__address">Showroom California</div>
                        </div>
                      </div>
                      <!-- end .b-phone-->
                      
                    </div>
                    <div class="col-md-6">
                      <div class="b-phone">
                        <div class="b-phone__ic fas fa-phone text-primary"></div>
                        <div class="b-phone__main">
                          <div class="b-phone__title">Got any questions?</div><a class="b-phone__phone" href="tel:4315292093">(431) 529 2093</a>
                          <div class="b-phone__address">Showroom California</div>
                        </div>
                      </div>
                      <!-- end .b-phone-->
                      
                    </div>
                  </div>
                </div>
                <!-- end .b-contacts-->
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-default bg-light">
        <div class="container">
          <div class="text-center">
            <div class="ui-subtitle">welcome to isnaider auto dealers</div>
            <h2 class="ui-title text-uppercase">Inventory listings</h2>
            <div class="ui-decor bg-primary"></div>
            <p>Prehenderits volupta velit dolore fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt culpa qudesa officia deserunt mollit anim est laborum sed per unde omnis iste natus error sit voluptatem accusantium dolore</p>
          </div>
          <div class="b-isotope">
            <ul class="b-isotope-filter list-unstyled">
              <li class="current"><a href="#" data-filter=".all">Voitures</a></li>
{#              <li><a href="#" data-filter=".bmw">BMW</a></li>#}
{#              <li><a href="#" data-filter=".honda">Honda</a></li>#}
{#              <li><a href="#" data-filter=".mercedes">Mercedes</a></li>#}
{#              <li><a href="#" data-filter=".allCars">All Used Cars</a></li>#}
{#              <li><a href="#" data-filter=".allBikes">All Bikes</a></li>#}
            </ul>
            <ul class="b-isotope-grid grid list-unstyled row no-gutters">
              <li class="grid-sizer col-lg-4 col-md-6"></li>

              <!---->

              {% for x in home_data %}
             
         
                 <li class="b-isotope-grid__item grid-item all col-lg-4 col-md-6">
                <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="/detail-vehicule/{{x.id}}"><img class="img-scale" src="{{x.getPictures()[0].getPath()}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">{{x.name}}</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">{{x.price}} TND</div>
                              <div class="b-goods__price-msrp">MSRP: $35,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">{{x.year}}</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp </li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              
                
              </li>
              {% endfor %}
              <!---->
              <!--li class="b-isotope-grid__item grid-item all mercedes honda col-lg-4 col-md-6">
                <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="#"><img class="img-scale" src="{{ asset('assets/media/content/b-goods/360x260/10.jpg')}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">Nissan GT-R</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">$45,000</div>
                              <div class="b-goods__price-msrp">MSRP: $35,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">2019</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp</li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              
                
              </li>
              <li class="b-isotope-grid__item grid-item all bmw allCars col-lg-4 col-md-6">
                  
                  
                  <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="#"><img class="img-scale" src="{{ asset('assets/media/content/b-goods/360x260/3.jpg')}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">Wolkswagan R6</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">$25,000</div>
                              <div class="b-goods__price-msrp">MSRP: $35,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">2019</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp</li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
            
                  
                  
            
              </li>
              <li class="b-isotope-grid__item grid-item all allCars col-lg-4 col-md-6">
                  
                  <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="#"><img class="img-scale" src="{{ asset('assets/media/content/b-goods/360x260/2.jpg')}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">Jaguar F-Pace</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">52,000</div>
                              <div class="b-goods__price-msrp">MSRP: $15,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">2019</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp</li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
             
              </li>
              <li class="b-isotope-grid__item grid-item all bmw allBikes col-lg-4 col-md-6">
                  
                  
                  <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="#"><img class="img-scale" src="{{ asset('assets/media/content/b-goods/360x260/11.jpg')}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">Ford Mustang</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">22,000</div>
                              <div class="b-goods__price-msrp">MSRP: $15,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">2014</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp</li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
            
                  
                  
          
              </li>
              <li class="b-isotope-grid__item grid-item all mercedes honda col-lg-4 col-md-6">
                  
                  <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="#"><img class="img-scale" src="{{ asset('assets/media/content/b-goods/360x260/12.jpg')}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">Tesla Model-3</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">22,000</div>
                              <div class="b-goods__price-msrp">MSRP: $15,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">2014</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp</li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
        
                  
                  
          
                
              </li>
              <li class="b-isotope-grid__item grid-item all bmw allCars col-lg-4 col-md-6">
                  
                  
                  <div class="b-goods">
                  
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="flip__front">
                        <div class="b-goods__img"><a href="#"><img class="img-scale" src="{{ asset('assets/media/content/b-goods/360x260/13.jpg')}}" alt="foto"/></a></div>
                        <div class="b-goods__inner">
                          <div class="b-goods__header">
                            <div class="b-goods__name">Lexus LS 500</div>
                            <ul class="ui-rating list-unstyled">
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li class="active"><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                            </ul>
                            <div class="b-goods__check"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods/check.jpg')}}" alt="AutoCheck"/></div>
                          </div>
                          <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>
                          <div class="b-goods__footer">
                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>
                            <div class="b-goods__price">
                              <div class="b-goods__price-main bg-primary">27,000</div>
                              <div class="b-goods__price-msrp">MSRP: $12,480</div>
                            </div>
                            <ul class="b-goods-descr list-unstyled">
                              <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>
                              <li class="b-goods-descr__item">2011</li>
                              <li class="b-goods-descr__item">Manual</li>
                              <li class="b-goods-descr__item">Petrol</li>
                              <li class="b-goods-descr__item">661 hp</li>
                            </ul>
                            <button class="b-goods__link text-primary" type="button">Compare</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
     
                  
                  
                  
             
              </li-->
            </ul>
          </div>
          <!-- end .b-isotope-->
          
        </div>
      </section>
      <div class="b-services">
        <div class="row flex-lg-row-reverse">
          <div class="col-lg-7">
            <ul class="b-services-nav nav" id="servicesTab" role="tablist">
              <li class="b-services-nav__item nav-item col-md-4"><a class="b-services-nav__link nav-link active" id="repairing-tab" data-toggle="tab" href="#repairing" role="tab" aria-controls="repairing" aria-selected="true"><i class="ic flaticon-car-door"></i>
                  <div class="b-services-nav__title">Parts Repairing</div>
                  <div class="b-services-nav__info">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excepture fugiat estan.</div></a></li>
              <li class="b-services-nav__item nav-item col-md-4"><a class="b-services-nav__link nav-link" id="inspection-tab" data-toggle="tab" href="#inspection" role="tab" aria-controls="inspection" aria-selected="false"><i class="ic flaticon-screwdriver"></i>
                  <div class="b-services-nav__title">Car Inspection</div>
                  <div class="b-services-nav__info">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excepture fugiat estan.</div></a></li>
              <li class="b-services-nav__item nav-item col-md-4"><a class="b-services-nav__link nav-link" id="trade-tab" data-toggle="tab" href="#trade" role="tab" aria-controls="trade" aria-selected="false"><i class="ic flaticon-gloves"></i>
                  <div class="b-services-nav__title">Vehicle Delivery</div>
                  <div class="b-services-nav__info">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excepture fugiat estan.</div></a></li>
              <li class="b-services-nav__item nav-item col-md-4"><a class="b-services-nav__link nav-link" id="painting-tab" data-toggle="tab" href="#painting" role="tab" aria-controls="painting" aria-selected="false"><i class="ic flaticon-monster-truck"></i>
                  <div class="b-services-nav__title">Vehicle Trade-In</div>
                  <div class="b-services-nav__info">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excepture fugiat estan.</div></a></li>
              <li class="b-services-nav__item nav-item col-md-4"><a class="b-services-nav__link nav-link" id="financing-tab" data-toggle="tab" href="#financing" role="tab" aria-controls="financing" aria-selected="false"><i class="ic flaticon-tools"></i>
                  <div class="b-services-nav__title">Auto Painting</div>
                  <div class="b-services-nav__info">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excepture fugiat estan.</div></a></li>
              <li class="b-services-nav__item nav-item col-md-4"><a class="b-services-nav__link nav-link" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery" aria-selected="false"><i class="ic flaticon-pickup"></i>
                  <div class="b-services-nav__title">Car Financing</div>
                  <div class="b-services-nav__info">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excepture fugiat estan.</div></a></li>
            </ul>
          </div>
          <div class="col-lg-5">
            <div class="b-services-content tab-content" id="servicesTabContent">
              <section class="b-services-content__section tab-pane fade show active" id="repairing" role="tabpanel" data-aria-labelledby="repairing-tab">
                <div class="ui-subtitle">isnaider auto dealers</div>
                <h2 class="ui-title">Parts Repairing</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </section>
              <section class="b-services-content__section tab-pane fade" id="inspection" role="tabpanel" data-aria-labelledby="inspection-tab">
                <div class="ui-subtitle">isnaider auto dealers</div>
                <h2 class="b-services-content__title ui-title">Car Inspection</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </section>
              <section class="b-services-content__section tab-pane fade" id="trade" role="tabpanel" data-aria-labelledby="trade-tab">
                <div class="ui-subtitle">isnaider auto dealers</div>
                <h2 class="b-services-content__title ui-title">Vehicle Delivery</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </section>
              <section class="b-services-content__section tab-pane fade" id="painting" role="tabpanel" data-aria-labelledby="painting-tab">
                <div class="ui-subtitle">isnaider auto dealers</div>
                <h2 class="b-services-content__title ui-title">Vehicle Trade-In</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </section>
              <section class="b-services-content__section tab-pane fade" id="financing" role="tabpanel" data-aria-labelledby="financing-tab">
                <div class="ui-subtitle">isnaider auto dealers</div>
                <h2 class="b-services-content__title ui-title">Auto Painting</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </section>
              <section class="b-services-content__section tab-pane fade" id="delivery" role="tabpanel" data-aria-labelledby="delivery-tab">
                <div class="ui-subtitle">isnaider auto dealers</div>
                <h2 class="b-services-content__title ui-title">Car Financing</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </section><img class="b-services-content__fig img-fluid" src="{{ asset('assets/media/content/b-services/fig-1.png')}}" alt="foto"/>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-services-->
      
      <section class="section-bnr bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="b-bnr text-center">
                <h2 class="b-bnr__title">Book Your Free Car Inspection Today!</h2>
                <p>Labore dolore magna aliqua ipsum veniam quis nostrud exercitation voluptate velit cillum dolore feu fugiat nulla excepteur sint occaecat sed ipsum cupidatat proident culpa exercitation ullamco laboris aliquik.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="b-bnr-contacts row align-items-center no-gutters">
                <div class="b-bnr-contacts__item col-md-6">
                  <div class="b-phone b-phone_dark">
                    <div class="b-phone__ic fas fa-phone text-primary"></div>
                    <div class="b-phone__main">
                      <div class="b-phone__title">Got any questions?</div><a class="b-phone__phone" href="tel:4315292093">(431) 529 2093</a>
                    </div>
                  </div>
                  <!-- end .b-phone-->
                  
                </div>
                <div class="b-bnr-contacts__item col-md-6"><a class="btn btn-secondary btn-lg" href="#">Apply now</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end .b-bnr-->
      
      <section class="section-fag">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-fag__inner">
                <div class="ui-subtitle">isnaider auto dealers website</div>
                <h2 class="ui-title text-uppercase">Our advantages</h2>
                <div class="ui-decor bg-primary"></div>
                <div class="ui-accordion accordion" id="accordion-1">
                  <div class="card">
                    <div class="card-header" id="heading1">
                      <h3 class="mb-0">
                        <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><span class="ui-accordion__number">01</span>We sell better vehicles - Less mileage and low price<i class="ic fas fa-chevron-down"></i></button>
                      </h3>
                    </div>
                    <div class="collapse show" id="collapse1" data-aria-labelledby="heading1" data-parent="#accordion-1">
                      <div class="card-body">Quis nostrud exercitate laboridy aliquip duis irure sed dolor ipsum excpture fugiat estan veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex velit esse cillum dolore eu fugiat nulla pariatur.</div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading2">
                      <h3 class="mb-0">
                        <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"><span class="ui-accordion__number">02</span>Our workshop has latest equipments & tools<i class="ic fas fa-chevron-down"></i></button>
                      </h3>
                    </div>
                    <div class="collapse" id="collapse2" data-aria-labelledby="heading2" data-parent="#accordion-1">
                      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson</div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading3">
                      <h3 class="mb-0">
                        <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"><span class="ui-accordion__number">03</span>We offer many deals & leasing plans for vehicles<i class="ic fas fa-chevron-down"></i></button>
                      </h3>
                    </div>
                    <div class="collapse" id="collapse3" data-aria-labelledby="heading3" data-parent="#accordion-1">
                      <div class="card-bodyFood">truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="heading4">
                      <h3 class="mb-0">
                        <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"><span class="ui-accordion__number">04</span>Huge vehicles showroom with many brands<i class="ic fas fa-chevron-down"></i></button>
                      </h3>
                    </div>
                    <div class="collapse" id="collapse4" data-aria-labelledby="heading4" data-parent="#accordion-1">
                      <div class="card-body">Nliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson</div>
                    </div>
                  </div>
                </div>
                <!-- end .accordion-->
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end .b-faq-->
      
      <section class="section-default">
        <div class="container">
          <div class="text-center">
            <div class="ui-subtitle">welcome to best auto dealers website</div>
            <h2 class="ui-title text-uppercase">top selling vehicles</h2>
            <div class="ui-decor bg-primary"></div>
          </div>
        </div>
         <div class="b-goods-slider b-goods-slider_mod_op js-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 1, &quot;autoplay&quot;: false, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}">
          
          
          <div class="b-goods-slider__item">
            <div class="b-goods-slider__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-slider/1.jpg')}}" alt="foto"/></div>
            <div class="b-goods-slider__main">
              <div class="b-goods-slider__title">Lexus A35 Quad</div><span class="b-goods-slider__price bg-dark">$30,480</span>
              <ul class="b-goods-slider__list list-unstyled">
                <li class="b-goods-slider__desrip">New</li>
                <li class="b-goods-slider__desrip">2019</li>
                <li class="b-goods-slider__desrip">Manual</li>
                <li class="b-goods-slider__desrip">Sedan</li>
                <li class="b-goods-slider__desrip">Petrol</li>
                <li class="b-goods-slider__desrip">54k mi</li>
              </ul>
            </div>
          </div>
          <!-- end .b-goods-->
             
             
             <div class="b-goods-slider__item">
            <div class="b-goods-slider__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-slider/4.jpg')}}" alt="foto"/></div>
            <div class="b-goods-slider__main">
              <div class="b-goods-slider__title">Hyundai IX35</div><span class="b-goods-slider__price bg-dark">$30,480</span>
              <ul class="b-goods-slider__list list-unstyled">
                <li class="b-goods-slider__desrip">New</li>
                <li class="b-goods-slider__desrip">2019</li>
                <li class="b-goods-slider__desrip">Manual</li>
                <li class="b-goods-slider__desrip">Sedan</li>
                <li class="b-goods-slider__desrip">Petrol</li>
                <li class="b-goods-slider__desrip">54k mi</li>
              </ul>
            </div>
          </div>
          <!-- end .b-goods-->
          
          <div class="b-goods-slider__item">
            <div class="b-goods-slider__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-slider/3.jpg')}}" alt="foto"/></div>
            <div class="b-goods-slider__main">
              <div class="b-goods-slider__title">Lexus A35 Quad</div><span class="b-goods-slider__price bg-dark">$30,480</span>
              <ul class="b-goods-slider__list list-unstyled">
                <li class="b-goods-slider__desrip">New</li>
                <li class="b-goods-slider__desrip">2019</li>
                <li class="b-goods-slider__desrip">Manual</li>
                <li class="b-goods-slider__desrip">Sedan</li>
                <li class="b-goods-slider__desrip">Petrol</li>
                <li class="b-goods-slider__desrip">54k mi</li>
              </ul>
            </div>
          </div>
          <!-- end .b-goods-->
             
             
              <div class="b-goods-slider__item">
            <div class="b-goods-slider__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-slider/1.jpg')}}" alt="foto"/></div>
            <div class="b-goods-slider__main">
              <div class="b-goods-slider__title">Lexus A35 Quad</div><span class="b-goods-slider__price bg-dark">$30,480</span>
              <ul class="b-goods-slider__list list-unstyled">
                <li class="b-goods-slider__desrip">New</li>
                <li class="b-goods-slider__desrip">2019</li>
                <li class="b-goods-slider__desrip">Manual</li>
                <li class="b-goods-slider__desrip">Sedan</li>
                <li class="b-goods-slider__desrip">Petrol</li>
                <li class="b-goods-slider__desrip">54k mi</li>
              </ul>
            </div>
          </div>
          <!-- end .b-goods-->
             
             
             <div class="b-goods-slider__item">
            <div class="b-goods-slider__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-slider/4.jpg')}}" alt="foto"/></div>
            <div class="b-goods-slider__main">
              <div class="b-goods-slider__title">Hyundai IX35</div><span class="b-goods-slider__price bg-dark">$30,480</span>
              <ul class="b-goods-slider__list list-unstyled">
                <li class="b-goods-slider__desrip">New</li>
                <li class="b-goods-slider__desrip">2019</li>
                <li class="b-goods-slider__desrip">Manual</li>
                <li class="b-goods-slider__desrip">Sedan</li>
                <li class="b-goods-slider__desrip">Petrol</li>
                <li class="b-goods-slider__desrip">54k mi</li>
              </ul>
            </div>
          </div>
          <!-- end .b-goods-->
          
          <div class="b-goods-slider__item">
            <div class="b-goods-slider__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-slider/3.jpg')}}" alt="foto"/></div>
            <div class="b-goods-slider__main">
              <div class="b-goods-slider__title">Lexus A35 Quad</div><span class="b-goods-slider__price bg-dark">$30,480</span>
              <ul class="b-goods-slider__list list-unstyled">
                <li class="b-goods-slider__desrip">New</li>
                <li class="b-goods-slider__desrip">2019</li>
                <li class="b-goods-slider__desrip">Manual</li>
                <li class="b-goods-slider__desrip">Sedan</li>
                <li class="b-goods-slider__desrip">Petrol</li>
                <li class="b-goods-slider__desrip">54k mi</li>
              </ul>
            </div>
          </div>
          <!-- end .b-goods-->
        
        
          
        </div>
      </section>
      <div class="section-goods-vip"><a class="b-goods-vip b-goods-vip_1" href="#">
          <div class="b-goods-vip__main">
            <div class="b-goods-vip__slogan">UNMATCHED</div>
            <div class="b-goods-vip__title">CAR<span class="text-primary"> DEALS</span></div>
            <div class="b-goods-vip__subtitle">Luxury Sedans for just $199/M</div>
          </div></a><a class="b-goods-vip b-goods-vip_2" href="#">
          <div class="b-goods-vip__main">
            <div class="b-goods-vip__subtitle">Latest Vehicles</div>
            <div class="b-goods-vip__title">All Brands Parts</div>
            <div class="b-goods-vip__slogan">PREMIUM QUALITY</div>
          </div></a><a class="b-goods-vip b-goods-vip_3" href="#">
          <div class="b-goods-vip__main">
            <div class="b-goods-vip__subtitle">Off-Road King</div>
            <div class="row justify-content-between align-items-center">
              <div class="b-goods-vip__title col">RANGE ROVER</div>
              <div class="col-auto">
                <div class="b-goods-vip__label b-goods-vip__label-3 bg-primary">As Low As 1.5% APR</div>
              </div>
            </div>
            <div class="b-goods-vip__slogan">Limited Time Offer</div>
          </div></a></div>
      <!-- end .b-goods-->
      
      <section class="section-default">
        <div class="container">
          <div class="text-center">
            <div class="ui-subtitle">what buyers and sellers are saying</div>
            <h2 class="ui-title text-uppercase">customer reviews</h2>
            <div class="ui-decor bg-primary"></div>
          </div>
        </div>
        <div class="container-fluid">
           <div class="b-reviews-slider js-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 3, &quot;autoplay&quot;: true, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 992, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2, &quot;slidesToScroll&quot;: 2}}, {&quot;breakpoint&quot;: 768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}">
            <div class="b-reviews">
              <div class="b-reviews__wrap">
                <div class="b-reviews__blockquote">Norem ipsum dolor sit amet consecter adipis elit aliqua enim minim veniam quis nostrud exercit Duis aute irure dolor reprehen aderit  bav much partook this much in in thus the sauc.</div>
                <div class="b-reviews__footer"><img class="b-reviews__img" src="{{ asset('assets/media/content/b-reviews/1.jpg')}}" alt="foto"/>
                  <div class="b-reviews__inner">
                    <div class="b-reviews__name">Fau Plaesis</div>
                    <div class="b-reviews__category">Car Buyer</div>
                    <ul class="ui-rating list-unstyled">
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .b-reviews-->
            
            <div class="b-reviews">
              <div class="b-reviews__wrap">
                <div class="b-reviews__blockquote">Norem ipsum dolor sit amet consecter adipis elit aliqua enim minim veniam quis nostrud exercit Duis aute irure dolor reprehen aderit  bav much partook this much in in thus the sauc.</div>
                <div class="b-reviews__footer"><img class="b-reviews__img" src="{{ asset('assets/media/content/b-reviews/2.jpg')}}" alt="foto"/>
                  <div class="b-reviews__inner">
                    <div class="b-reviews__name">Kane William</div>
                    <div class="b-reviews__category">Car Seller</div>
                    <ul class="ui-rating list-unstyled">
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .b-reviews-->
            
            <div class="b-reviews">
              <div class="b-reviews__wrap">
                <div class="b-reviews__blockquote">Norem ipsum dolor sit amet consecter adipis elit aliqua enim minim veniam quis nostrud exercit Duis aute irure dolor reprehen aderit  bav much partook this much in in thus the sauc.</div>
                <div class="b-reviews__footer"><img class="b-reviews__img" src="{{ asset('assets/media/content/b-reviews/3.jpg')}}" alt="foto"/>
                  <div class="b-reviews__inner">
                    <div class="b-reviews__name">Tina Olivia</div>
                    <div class="b-reviews__category">Car Buyer</div>
                    <ul class="ui-rating list-unstyled">
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .b-reviews-->
               
               
            <div class="b-reviews">
              <div class="b-reviews__wrap">
                <div class="b-reviews__blockquote">Norem ipsum dolor sit amet consecter adipis elit aliqua enim minim veniam quis nostrud exercit Duis aute irure dolor reprehen aderit  bav much partook this much in in thus the sauc.</div>
                <div class="b-reviews__footer"><img class="b-reviews__img" src="{{ asset('assets/media/content/b-reviews/2.jpg')}}" alt="foto"/>
                  <div class="b-reviews__inner">
                    <div class="b-reviews__name">Kane William</div>
                    <div class="b-reviews__category">Car Seller</div>
                    <ul class="ui-rating list-unstyled">
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                      <li><i class="fas fa-star text-primary"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end .b-reviews-->
            
          </div>
        </div>
      </section>
      <div class="section-bnr-2">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-6">
              <section class="b-bnr-2 b-bnr-2_first bg-primary">
                <h2 class="b-bnr-2__title">Are you looking<br>to buy a car?</h2>
                <div class="b-bnr-2__info">Searching our inventory that includes 3k+ cars</div><a class="btn btn-white btn-lg" href="#">view Listings</a>
              </section>
            </div>
            <div class="col-md-6">
              <section class="b-bnr-2 b-bnr-2_last bg-dark">
                <h2 class="b-bnr-2__title">Do you want to<br>sell a car?</h2>
                <div class="b-bnr-2__info">Add car to our inventory and reach 3k+ buyers</div><a class="btn btn-white btn-lg" href="#">add your car</a>
              </section>
            </div>
          </div><img class="b-bnr-2__figure img-scale" src="{{ asset('assets/media/content/b-bnr/figure-1.png')}}" alt="foto"/>
        </div>
      </div>
      <!-- end .b-bnr-2-->
      
      <div class="section-area">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <section class="section-goods-other section-default area-bg area-bg_dark area-bg_op_80">
              <div class="area-bg__inner">
                <div class="ui-subtitle">original auto parts</div>
                <h2 class="ui-title text-uppercase">Shop items</h2>
                <div class="ui-decor bg-primary"></div>
                <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation dolorin reprehenderits volupta velit dolore fugiat nulla pariatur excepteur sint deserunt mollit anim est laborum santium dolore mque.</p>
              </div>
            </section>
          </div>
          <div class="col-lg col-md-4">
            <div class="b-goods-other">
              <div class="b-goods-other__inner">
                <div class="b-goods-other__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-other/1.jpg')}}" alt="foto"/></div>
                <div class="b-goods-other__links"><a class="b-goods-other__link" href="#"><i class="ic fas fa-shopping-basket"></i></a><a class="b-goods-other__link" href="#"><i class="ic fas fa-heart"></i></a><a class="b-goods-other__link" href="#"><i class="ic fas fa-search-plus"></i></a></div>
                <div class="b-goods-other__title">BMW Engine</div>
                <div class="b-goods-other__price text-primary">$50.35</div>
              </div>
            </div>
          </div>
          <div class="col-lg col-md-4">
            <div class="b-goods-other">
              <div class="b-goods-other__inner">
                <div class="b-goods-other__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-other/2.jpg')}}" alt="foto"/></div>
                <div class="b-goods-other__links"><a class="b-goods-other__link" href="#"><i class="ic fas fa-shopping-basket"></i></a><a class="b-goods-other__link" href="#"><i class="ic fas fa-heart"></i></a><a class="b-goods-other__link" href="#"><i class="ic fas fa-search-plus"></i></a></div>
                <div class="b-goods-other__title">Sports Tyre Set</div>
                <div class="b-goods-other__price text-primary">$50.35</div>
              </div>
            </div>
          </div>
          <div class="col-lg col-md-4">
            <div class="b-goods-other">
              <div class="b-goods-other__inner">
                <div class="b-goods-other__img"><img class="img-fluid" src="{{ asset('assets/media/content/b-goods-other/3.jpg')}}" alt="foto"/></div>
                <div class="b-goods-other__links"><a class="b-goods-other__link" href="#"><i class="ic fas fa-shopping-basket"></i></a><a class="b-goods-other__link" href="#"><i class="ic fas fa-heart"></i></a><a class="b-goods-other__link" href="#"><i class="ic fas fa-search-plus"></i></a></div>
                <div class="b-goods-other__title">Auto Dry Battery</div>
                <div class="b-goods-other__price text-primary">$50.35</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section-default">
        <div class="container">
          <div class="text-center">
            <div class="ui-subtitle">our wide network of partner dealers</div>
            <h2 class="ui-title text-uppercase">our dealers team</h2>
            <div class="ui-decor bg-primary"></div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <section class="b-team">
                <div class="row no-gutters">
                  <div class="col-md-auto">
                    <div class="b-team__media"><img class="img-scale" src="{{ asset('assets/media/content/b-team/1.jpg')}}" alt="Foto"/></div>
                  </div>
                  <div class="col-md">
                    <h3 class="b-team__name">Tina Olivia</h3>
                    <div class="b-team__category">Sales Manager</div><a class="b-team__phone" href="tel:+12584037961">+1 (258) 403 7961</a><a class="b-team__email" href="mailto:email-me@example.com"><i class="ic fas fa-envelope text-primary"></i>email-me@example.com</a>
                    <ul class="b-team-soc list-unstyled">
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="b-team">
                <div class="row no-gutters">
                  <div class="col-md-auto">
                    <div class="b-team__media"><img class="img-scale" src="{{ asset('assets/media/content/b-team/2.jpg')}}" alt="Foto"/></div>
                  </div>
                  <div class="col-md">
                    <h3 class="b-team__name">Ben Thomas</h3>
                    <div class="b-team__category">Sales Manager</div><a class="b-team__phone" href="tel:+12584037961">+1 (258) 403 7961</a><a class="b-team__email" href="mailto:email-me@example.com"><i class="ic fas fa-envelope text-primary"></i>email-me@example.com</a>
                    <ul class="b-team-soc list-unstyled">
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="b-team">
                <div class="row no-gutters">
                  <div class="col-md-auto">
                    <div class="b-team__media"><img class="img-scale" src="{{ asset('assets/media/content/b-team/3.jpg')}}" alt="Foto"/></div>
                  </div>
                  <div class="col-md">
                    <h3 class="b-team__name">Liz Milane</h3>
                    <div class="b-team__category">Sales Manager</div><a class="b-team__phone" href="tel:+12584037961">+1 (258) 403 7961</a><a class="b-team__email" href="mailto:email-me@example.com"><i class="ic fas fa-envelope text-primary"></i>email-me@example.com</a>
                    <ul class="b-team-soc list-unstyled">
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="b-team">
                <div class="row no-gutters">
                  <div class="col-md-auto">
                    <div class="b-team__media"><img class="img-scale" src="{{ asset('assets/media/content/b-team/4.jpg')}}" alt="Foto"/></div>
                  </div>
                  <div class="col-md">
                    <h3 class="b-team__name">Liz Milane</h3>
                    <div class="b-team__category">Sales Manager</div><a class="b-team__phone" href="tel:+12584037961">+1 (258) 403 7961</a><a class="b-team__email" href="mailto:email-me@example.com"><i class="ic fas fa-envelope text-primary"></i>email-me@example.com</a>
                    <ul class="b-team-soc list-unstyled">
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="b-team">
                <div class="row no-gutters">
                  <div class="col-md-auto">
                    <div class="b-team__media"><img class="img-scale" src="{{ asset('assets/media/content/b-team/5.jpg')}}" alt="Foto"/></div>
                  </div>
                  <div class="col-md">
                    <h3 class="b-team__name">Shane Morris</h3>
                    <div class="b-team__category">Sales Manager</div><a class="b-team__phone" href="tel:+12584037961">+1 (258) 403 7961</a><a class="b-team__email" href="mailto:email-me@example.com"><i class="ic fas fa-envelope text-primary"></i>email-me@example.com</a>
                    <ul class="b-team-soc list-unstyled">
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
            <div class="col-lg-4 col-md-6">
              <section class="b-team">
                <div class="row no-gutters">
                  <div class="col-md-auto">
                    <div class="b-team__media"><img class="img-scale" src="{{ asset('assets/media/content/b-team/6.jpg')}}" alt="Foto"/></div>
                  </div>
                  <div class="col-md">
                    <h3 class="b-team__name">Fau Plaesis</h3>
                    <div class="b-team__category">Sales Manager</div><a class="b-team__phone" href="tel:+12584037961">+1 (258) 403 7961</a><a class="b-team__email" href="mailto:email-me@example.com"><i class="ic fas fa-envelope text-primary"></i>email-me@example.com</a>
                    <ul class="b-team-soc list-unstyled">
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-google-plus-g"></i></a></li>
                      <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
          </div>
        </div>
      </section>
      <section class="section-article section-default">
        <div class="container">
          <div class="col-md-10 offset-md-1 text-center">
            <div class="ui-subtitle">read the auto industry news</div>
            <h2 class="ui-title text-uppercase">latest articles</h2>
            <div class="ui-decor bg-primary"></div>
            <p>Prehenderits volupta velit dolore fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt culpa qudesa officia deserunt mollit anim est laborum sed per unde omnis iste natus error sit voluptatem accusantium dolore</p>
          </div>
          <div class="pt-2 row">
            <div class="col-xl-6">
              <section class="b-post b-post-3">
                <div class="entry-media"><a class="js-zoom-images" href="{{ asset('assets/media/content/b-post/555x518/1.jpg')}}"><img class="img-scale" src="{{ asset('assets/media/content/b-post/555x518/1.jpg')}}" alt="Foto"/></a></div>
                <div class="entry-main">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">10 Most Fuel Efficient Cars On Roads</a></h2>
                  </div>
                  <div class="entry-content">Edipisicing eiusmod tempor incididunt labore sed dolore magna aliqa enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="entry-footer">
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time>
                  </div><a class="btn btn-primary" href="#">Read More</a>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-xl-6">
              <section class="b-post b-post-3">
                <div class="entry-main">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Increase Your Auto Sales Guide</a></h2>
                  </div>
                  <div class="entry-content">Enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="entry-footer">
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time>
                  </div><a class="btn btn-primary" href="#">Read More</a>
                </div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-3">
                <div class="entry-main">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">We Sell Licensed &amp; Checked Vehicles</a></h2>
                  </div>
                  <div class="entry-content">Enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="entry-footer">
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time>
                  </div><a class="btn btn-primary" href="#">Read More</a>
                </div>
              </section>
              <!-- end .b-post-->
              
              <section class="b-post b-post-3">
                <div class="entry-main">
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Auto Buying Guide: Things To Remember</a></h2>
                  </div>
                  <div class="entry-content">Enim ipsum ad minim veniams quis nostrud citation ullam laboris nisi ut aliquip laboris nisi ut aliquip ex ea commodo.</div>
                </div>
                <div class="entry-footer">
                  <div class="entry-meta"><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>52</a></span><span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                        Article By
                        <span class="text-primary">John Deo</span></a></span>
                    <time class="entry-meta__item" datetime="2019-01-31">Jan 31, 2019</time>
                  </div><a class="btn btn-primary" href="#">Read More</a>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
          </div>
        </div>
      </section>
      <div class="section-default">
        <div class="container-fluid">
          <div class="container-fluid">
          <div class="b-brands js-slider" data-slick="{&quot;slidesToShow&quot;: 4, &quot;slidesToScroll&quot;: 1, &quot;autoplay&quot;: true, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}"><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/1.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/2.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/3.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/4.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/1.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/2.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/3.png')}}" alt="foto"/></a><a class="b-brands__item" href="home.html"><img class="img-fluid" src="{{ asset('assets/media/content/b-brands/4.png')}}" alt="foto"/></a></div>
        </div>
        </div>
      </div>

    
      
 
      <section class="b-bnr-3 bg-primary">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-auto">
              <div class="b-bnr-3__inner">
                <h2 class="b-bnr-3__title">Buy & Sell Your Vehicles Easily With Isnaider</h2>
                <p>Labore dolore magna aliqua ipsum veniam quis nostrud exercitation voluptate</p>
              </div>
            </div>
            <div class="col-lg-col">
              <div class="row no-gutters align-items-center justify-content-end">
                <div class="col-auto">
                  <div class="b-phone">
                    <div class="b-phone__ic fas fa-phone"></div>
                    <div class="b-phone__main">
                      <div class="b-phone__title">Got any questions?</div><a class="b-phone__phone" href="tel:4315292093">(431) 529 2093</a>
                    </div>
                  </div>
                  <!-- end .b-phone-->
                  
                </div>
                <div class="col-auto"><a class="btn btn-secondary btn-lg" href="#">Get started</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end .b-bnr-3-->

 
        <!--FOOTER-->
    </div>
    <!-- end layout-theme-->
    

    
  
{% endblock %}