<!DOCTYPE html>
<html lang="zxx">
  
<!-- Mirrored from templines.rocks/html/isnaider/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Apr 2020 18:18:58 GMT -->
<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Isnaider / Home</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link rel="stylesheet" href="{{ asset('assets/css/master.css')}}">
       <!-- SWITCHER-->
      <link href="{{ asset('assets/plugins/switcher/css/switcher.css')}}" rel="stylesheet" id="switcher-css">
      <link href="{{ asset('assets/plugins/switcher/css/color1.css')}}" rel="alternate stylesheet" title="color1">
      <link href="{{ asset('assets/plugins/switcher/css/color2.css')}}" rel="alternate stylesheet" title="color2">
      <link href="{{ asset('assets/plugins/switcher/css/color3.css')}}" rel="alternate stylesheet" title="color3">
      <script src="{{ asset('assets/plugins/switcher/js/dmss.js')}}"></script>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{#    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
    
      <link rel="icon" type="image/x-icon" href="favicon.ico"><!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->

<style>
  .delete-badge-image{
 
    right:-20px;
    top:10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:10px;
}


  .delete-badge{
    position: absolute;
    right:-20px;
    top:10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
}

.update-badge{
  position: absolute;
  right:-20px;
  top:80px;
  background:rgb(0, 89, 255);
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color:white;
  padding:5px 10px;
  font-size:20px;
}
</style>


  </head>
  <body class="page">

    {% block body %} {% endblock %}

    {% include "footer.html.twig" %}

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
{#    <!---->#}
    <!-- Color scheme-->
    <script src="{{ asset('assets/plugins/switcher/js/dmss.js')}}"></script>
    <!-- Select customization & Color scheme-->
    <script src="{{ asset('cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js')}}"></script>
    <!-- Pop-up window-->
    <script src="{{ asset('assets/plugins/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
    <!-- Headers scripts-->
    <script src="{{ asset('assets/plugins/headers/slidebar.js')}}"></script>
    <script src="{{ asset('assets/plugins/headers/header.js')}}"></script>
    <!-- Mail scripts-->
    <script src="{{ asset('assets/plugins/jqBootstrapValidation.js')}}"></script>
{#    <script src="{{ asset('assets/plugins/contact_me.js')}}"></script>#}
    <!-- Filter and sorting images-->
    <script src="{{ asset('assets/plugins/isotope/isotope.pkgd.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/isotope/imagesLoaded.js')}}"></script>
    <!-- Progress numbers-->
    <script src="{{ asset('assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/rendro-easy-pie-chart/jquery.waypoints.min.js')}}"></script>
    <!-- Animations-->
    <script src="{{ asset('assets/plugins/scrollreveal/scrollreveal.min.js')}}"></script>
    <!-- Scale images-->
    <script src="{{ asset('assets/plugins/ofi.min.js')}}"></script>
    <!-- Main slider-->
    <script src="{{ asset('assets/plugins/slider-pro/jquery.sliderPro.min.js')}}"></script>
    <!-- Sliders-->
    <script src="{{ asset('assets/plugins/slick/slick.js')}}"></script>
    <!-- Slider number-->
    <script src="{{ asset('assets/plugins/noUiSlider/wNumb.js')}}"></script>
    <script src="{{ asset('assets/plugins/noUiSlider/nouislider.min.js')}}"></script>
    <!-- User customization-->
    <script src="{{ asset('assets/js/custom.js')}}"></script>
    <!-- Main slider-->
    <script src="{{ asset('assets/plugins/slider-pro/jquery.sliderPro.min.js')}}"></script>
    <!-- Sliders-->
    <script src="{{ asset('assets/plugins/slick/slick.js')}}"></script>
    <!-- Slider number-->
    <script src="{{ asset('assets/plugins/noUiSlider/wNumb.js')}}"></script>
    <script src="{{ asset('assets/plugins/noUiSlider/nouislider.min.js')}}"></script>

    <!-- Video player-->
    <script  src="{{ asset('assets/plugins/flowplayer/flowplayer.min.js')}}"  ></script>

    <!-- User map-->
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhTd-ZT5nzCNucY9AZUCspnXrw3votR34"></script>#}
    <!-- Maps customization-->
{#    <script src="{{ asset('assets/js/map-custom.js')}}"  ></script>#}


<script>
  function set_update_data(id)
  {
  
 
    $.get("http://127.0.0.1:8000/getbyid/"+id, function(data, status){
    console.log(data)

    document.getElementById("nameUP").value= data.name;
    document.getElementById("marqueUP").value= data.marque;
    document.getElementById("descriptionUP").value= data.description;
    document.getElementById("priceUP").value= data.price;
    document.getElementById("yearUP").value= data.year;
    document.getElementById("availableUP").value= data.available;
    
    document.getElementById("my_form_update").action='/update/'+ data.id;

    var list = document.getElementById("myListImage");
    while (list.hasChildNodes()) {
      list.removeChild(list.firstChild);
    }
    for(var x in data.pictures)
    {
      console.log(data.pictures[x])
      var node = document.createElement("LI");

      node.setAttribute("id", "LI"+data.pictures[x].id);

      var bdg= document.createElement("SPAN");
      bdg.setAttribute("class","delete-badge-image")
      
     
      bdg.onclick =  new Function('delete_picture(' +  "LI"+data.pictures[x].id + ')');
      var t = document.createTextNode("X"); 
      bdg.appendChild(t);   



      var imgnode = document.createElement("IMG");
      imgnode.setAttribute("src", data.pictures[x].path);
      imgnode.setAttribute("width", "100px");
    
      node.appendChild(imgnode);
      node.appendChild(bdg);
      


      document.getElementById("myListImage").appendChild(node);

    }
   
    
    });

  }

  function delete_picture(id) {
    if(confirm('vous êtes sûr de supprimer cette l image!'))
    {
      document.getElementById(id.id).style.visibility = "hidden";
    }
   
  
  }
</script>
  </body>

<!-- Mirrored from templines.rocks/html/isnaider/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Apr 2020 18:20:35 GMT -->
</html>