{% extends 'index.html.twig' %}
{% block body %}
<!-- Loader-->
<!--div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div-->
<!-- Loader end-->
<div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">


    {% include "navbar.html.twig" %}


    <div class="section-title-page area-bg area-bg_dark area-bg_op_60">
        <div class="area-bg__inner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md">
                        <h1 class="b-title-page">Liste de voitures</h1>
                        <div class="ui-decor bg-primary"></div>
                    </div>
                    <div class="col-md-auto"><a class="b-title-page__btn bg-primary">Louer une voiture</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end .b-title-page-->

    <div class="container text-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}"><i
                            class="ic text-primary fas fa-home"></i>Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste de voitures</li>
            </ol>
        </nav>
    </div>
    <!-- end breadcrumb-->

    <div class="l-main-content">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-xl-3">
                    <aside class="l-sidebar">
                        <div class="widget section-sidebar bg-gray">
                            <h3 class="widget-title bg-dark row justify-content-between align-items-center no-gutters">
                                <i class="ic flaticon-porsche bg-primary col-auto"></i><span
                                    class="widget-title__inner col">Search Filters</span></h3>
                            <div class="widget-content">
                                <div class="widget-inner">
                                    <form class="b-filter">
                                        <div class="b-filter__main">
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Select Make"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Select Model"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Vehicle Type"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Condition"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row row">
                                                <div class="b-filter__item col-md-6 col-lg-12 col-xl-6">
                                                    <select class="selectpicker" data-width="100%" title="From"
                                                        multiple="multiple" data-max-options="1" data-style="ui-select">
                                                        <option>Select 1</option>
                                                        <option>Select 2</option>
                                                        <option>Select 3</option>
                                                        <option>Select 4</option>
                                                    </select>
                                                </div>
                                                <div class="b-filter__item col-md-6 col-lg-12 col-xl-6">
                                                    <select class="selectpicker" data-width="100%" title="To"
                                                        multiple="multiple" data-max-options="1" data-style="ui-select">
                                                        <option>Select 1</option>
                                                        <option>Select 2</option>
                                                        <option>Select 3</option>
                                                        <option>Select 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Transmission"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Fuel Type"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="b-filter-slider ui-filter-slider">
                                            <div class="b-filter-slider__title">Filter by Price</div>
                                            <div class="b-filter-slider__main">
                                                <div id="filterPrice"></div>
                                                <div class="b-filter__row row">
                                                    <div class="b-filter__item col-md-6 col-lg-12 col-xl-6">
                                                        <input class="ui-select" id="input-with-keypress-0" />
                                                    </div>
                                                    <div class="b-filter__item col-md-6 col-lg-12 col-xl-6">
                                                        <input class="ui-select" id="input-with-keypress-1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="b-filter__reset btn btn-default btn-lg w-100">Apply
                                            filters</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="widget section-sidebar bg-gray">
                            <h3 class="widget-title bg-dark row justify-content-between align-items-center no-gutters">
                                <i class="ic flaticon-porsche bg-primary col-auto"></i><span
                                    class="widget-title__inner col">Find Installment</span></h3>
                            <div class="widget-content">
                                <div class="widget-inner">
                                    <form class="b-filter">
                                        <div class="b-filter__main">
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Loan Amount*"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Down Payment*"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Months Period*"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                            <div class="b-filter__row">
                                                <select class="selectpicker" data-width="100%" title="Interest Rate"
                                                    multiple="multiple" data-max-options="1" data-style="ui-select">
                                                    <option>Select 1</option>
                                                    <option>Select 2</option>
                                                    <option>Select 3</option>
                                                    <option>Select 4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="b-filter__reset btn btn-default btn-lg w-100 mt-3">estimate
                                            now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end .b-filter-->

                    </aside>
                </div>
                <div class="col-xl-9">
                    <div class="b-filter-goods">
                        <div class="row align-items-center no-gutters">
                            <div class="b-filter-goods__wrap col-sm-auto">
                                <div class="b-filter-goods__select">
                                    <select class="selectpicker" data-width="170px" title="Newest First"
                                        multiple="multiple" data-max-options="1" data-style="ui-select ui-select_sm">
                                        <option>A-Z</option>
                                        <option>Z-A</option>
                                    </select>
                                </div>
                                <div class="b-filter-goods__select">
                                    <select class="selectpicker" data-width="142px" multiple="multiple"
                                        data-max-options="1" data-style="ui-select ui-select_sm">
                                        <option>10 Items</option>
                                        <option selected="selected">15 Items</option>
                                        <option>20 Items</option>
                                    </select>
                                </div>
                                <button class="b-filter-goods__btn btn" type="button">Compare<span
                                        class="badge bg-primary">2</span></button>
                            </div>
                            <div class="btns-switch col-auto">
                                <a href="{{ path('inventory-listings') }}"><i
                                        class="btns-switch__item js-view-list active ic fa fa-th-list"></i></a>
                                <a href="{{ path('inventory-grid') }}"><i
                                        class="btns-switch__item js-view-th  ic fa fa-th"></i></a>
                            </div>
                        </div>
                        <div class="b-filter-goods__info">{{vehicule_liste|length}} Voitures</div>
                    </div>
                    <!-- end .b-filter-goods-->

                    <div class="section-goods">
                        <div class="b-goods-group row">
                            {% for x in vehicule_liste  %}
                            <div class="col-12">
                                <div class="b-goods b-goods_list b-goods_back_sm">
                                    <button class="flip-btn"><span></span><span
                                            class="flip-btn-mdl"></span><span></span></button>
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="flip__front">
                                                <div class="b-goods__img">
                                                    <a href="/delete/{{x.id}}" onClick="return  confirm('vous êtes sûr de supprimer cette annonce!')"> <span class="delete-badge" >Suprimer</span></a>
                                                   
                                                    <span class="update-badge"   data-toggle="modal"
                                                    data-target="#adminupdatecar"  onClick="set_update_data('{{x.id  }}')">Modifier</span>
                                                    <a href="/detail-vehicule/{{x.id}}"> 
                                                   
                                                    
                                                    <img class="img-scale"
                                                            src="{{x.getPictures()[0].getPath()}}" alt="foto" /></a>
                                                </div>
                                                <div class="b-goods__inner">
                                                    <div class="b-goods__header">
                                                        <div class="b-goods__name">{{x.name}}</div>
                                                        <ul class="ui-rating list-unstyled">
                                                            <li class="active"><i class="fas fa-star"></i></li>
                                                            <li class="active"><i class="fas fa-star"></i></li>
                                                            <li class="active"><i class="fas fa-star"></i></li>
                                                            <li class="active"><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                        </ul>
                                                        <div class="b-goods__check">
                                                            <li class="b-goods-descr__item b-goods-descr__item_main">
                                                                {{ x.marque}} </li>
                                                        </div>
                                                    </div>
                                                    <div class="b-goods__info">{{x.description}}</div>
                                                    <div class="b-goods__footer">
                                                        <div class="b-goods__main-descr"><i
                                                                class="ic flaticon-speedometer"></i>53,000 mi</div>
                                                        <div class="b-goods__price">
                                                            <div class="b-goods__price-main bg-primary">{{x.price}}
                                                            </div>
                                                            <div class="b-goods__price-msrp">TND </div>
                                                        </div>
                                                        <br>
                                                        <ul class="b-goods-descr list-unstyled">
                                                            <li class="b-goods-descr__item b-goods-descr__item_main"><i
                                                                    class="ic flaticon-speedometer"></i>53,000 mi</li>
                                                            <li class="b-goods-descr__item">2019</li>
                                                            <li class="b-goods-descr__item">Manual</li>
                                                            <li class="b-goods-descr__item">Petrol</li>
                                                            <li class="b-goods-descr__item">661 hp</li>
                                                        </ul>
                                                        {% if x.available == false %}

                                                        <button class="b-goods__link text-primary" type="button">Non
                                                            disponible</button>

                                                        {% else %}
                                                        <button class="b-goods__link text-primary"
                                                            type="button">Disponible</button>

                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flip__back">
                                                <div class="b-goods__header">
                                                    <div class="b-goods__name">aaaaaaaaa</div>
                                                    <div class="b-goods__category">Classic SUV</div>
                                                    <div class="flip-btn-hide"></div>
                                                </div>
                                                <div class="b-goods-info">
                                                    <div
                                                        class="b-goods-info__item row no-gutters justify-content-between">
                                                        <span class="b-goods-info__title col-auto">Cruise Control
                                                            Option</span><span
                                                            class="b-goods-info__desc col-auto">Standard</span></div>
                                                    <div
                                                        class="b-goods-info__item row no-gutters justify-content-between">
                                                        <span
                                                            class="b-goods-info__title col-auto">Transmission</span><span
                                                            class="b-goods-info__desc col-auto">Automatic</span></div>
                                                    <div
                                                        class="b-goods-info__item row no-gutters justify-content-between">
                                                        <span class="b-goods-info__title col-auto">Mileage</span><span
                                                            class="b-goods-info__desc col-auto">48,000 km</span></div>
                                                    <div
                                                        class="b-goods-info__item row no-gutters justify-content-between">
                                                        <span class="b-goods-info__title col-auto">Engine / Fuel
                                                            Capacity</span><span class="b-goods-info__desc col-auto">V8
                                                            2.5L / 8 Gal</span></div>
                                                    <div
                                                        class="b-goods-info__item row no-gutters justify-content-between">
                                                        <span class="b-goods-info__title col-auto">Vehicle
                                                            Layout</span><span class="b-goods-info__desc col-auto">5
                                                            Pass, 4-Door Hatch</span></div>
                                                </div>
                                                <div class="flip__footer">
                                                    <button class="btn btn-primary btn-lg w-100">Reserve now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end .b-goods-->

                            </div>
                            {% endfor %}
                        </div>
                        {#                            <button class="btn btn-gray js-scroll-next w-100 mt-4" type="button">Load More Items</button>#}
                        {#                            <div class="b-goods-group row js-scroll-content">#}
                        {#                                <div class="col">#}
                        {#                                    <div class="b-goods b-goods_list b-goods_back_sm">#}
                        {#                                        <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>#}
                        {#                                        <div class="flip-container">#}
                        {#                                            <div class="flipper">#}
                        {#                                                <div class="flip__front">#}
                        {#                                                    <div class="b-goods__img"><img class="img-scale" src="assets/media/content/b-goods/294x223/1.jpg" alt="foto" /></div>#}
                        {#                                                    <div class="b-goods__inner">#}
                        {#                                                        <div class="b-goods__header">#}
                        {#                                                            <div class="b-goods__name">Audi a7 2019</div>#}
                        {#                                                            <ul class="ui-rating list-unstyled">#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li><i class="fas fa-star"></i></li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck" /></div>#}
                        {#                                                        </div>#}
                        {#                                                        <div class="b-goods__info">ddddddddd</div>#}
                        {#                                                        <div class="b-goods__footer">#}
                        {#                                                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>#}
                        {#                                                            <div class="b-goods__price">#}
                        {#                                                                <div class="b-goods__price-main bg-primary">$45,000</div>#}
                        {#                                                                <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                        {#                                                            </div>#}
                        {#                                                            <ul class="b-goods-descr list-unstyled">#}
                        {#                                                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                        {#                                                                <li class="b-goods-descr__item">2019</li>#}
                        {#                                                                <li class="b-goods-descr__item">Manual</li>#}
                        {#                                                                <li class="b-goods-descr__item">Petrol</li>#}
                        {#                                                                <li class="b-goods-descr__item">661 hp</li>#}
                        {#                                                            </ul>#}
                        {#                                                            <button class="b-goods__link text-primary" type="button">Compare</button>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                                <div class="flip__back">#}
                        {#                                                    <div class="b-goods__header">#}
                        {#                                                        <div class="b-goods__name">Audi a7 2019</div>#}
                        {#                                                        <div class="b-goods__category">Classic SUV</div>#}
                        {#                                                        <div class="flip-btn-hide"></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="b-goods-info">#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Cruise Control Option</span><span class="b-goods-info__desc col-auto">Standard</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Transmission</span><span class="b-goods-info__desc col-auto">Automatic</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Mileage</span><span class="b-goods-info__desc col-auto">48,000 km</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="flip__footer">#}
                        {#                                                        <button class="btn btn-primary btn-lg w-100">Reserve now</button>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <!-- end .b-goods-->#}

                        {#                                </div>#}
                        {#                                <div class="col">#}
                        {#                                    <div class="b-goods b-goods_list b-goods_back_sm">#}
                        {#                                        <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>#}
                        {#                                        <div class="flip-container">#}
                        {#                                            <div class="flipper">#}
                        {#                                                <div class="flip__front">#}
                        {#                                                    <div class="b-goods__img"><img class="img-scale" src="assets/media/content/b-goods/294x223/2.jpg" alt="foto" /></div>#}
                        {#                                                    <div class="b-goods__inner">#}
                        {#                                                        <div class="b-goods__header">#}
                        {#                                                            <div class="b-goods__name">Subaru Ascent</div>#}
                        {#                                                            <ul class="ui-rating list-unstyled">#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li><i class="fas fa-star"></i></li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck" /></div>#}
                        {#                                                        </div>#}
                        {#                                                        <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>#}
                        {#                                                        <div class="b-goods__footer">#}
                        {#                                                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>#}
                        {#                                                            <div class="b-goods__price">#}
                        {#                                                                <div class="b-goods__price-main bg-primary">$45,000</div>#}
                        {#                                                                <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                        {#                                                            </div>#}
                        {#                                                            <ul class="b-goods-descr list-unstyled">#}
                        {#                                                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                        {#                                                                <li class="b-goods-descr__item">2019</li>#}
                        {#                                                                <li class="b-goods-descr__item">Manual</li>#}
                        {#                                                                <li class="b-goods-descr__item">Petrol</li>#}
                        {#                                                                <li class="b-goods-descr__item">661 hp</li>#}
                        {#                                                            </ul>#}
                        {#                                                            <button class="b-goods__link text-primary" type="button">Compare</button>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                                <div class="flip__back">#}
                        {#                                                    <div class="b-goods__header">#}
                        {#                                                        <div class="b-goods__name">Subaru Ascent</div>#}
                        {#                                                        <div class="b-goods__category">Classic SUV</div>#}
                        {#                                                        <div class="flip-btn-hide"></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="b-goods-info">#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Cruise Control Option</span><span class="b-goods-info__desc col-auto">Standard</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Transmission</span><span class="b-goods-info__desc col-auto">Automatic</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Mileage</span><span class="b-goods-info__desc col-auto">48,000 km</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="flip__footer">#}
                        {#                                                        <button class="btn btn-primary btn-lg w-100">Reserve now</button>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <!-- end .b-goods-->#}

                        {#                                </div>#}
                        {#                                <div class="col">#}
                        {#                                    <div class="b-goods b-goods_list b-goods_back_sm">#}
                        {#                                        <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>#}
                        {#                                        <div class="flip-container">#}
                        {#                                            <div class="flipper">#}
                        {#                                                <div class="flip__front">#}
                        {#                                                    <div class="b-goods__img"><img class="img-scale" src="assets/media/content/b-goods/294x223/3.jpg" alt="foto" /></div>#}
                        {#                                                    <div class="b-goods__inner">#}
                        {#                                                        <div class="b-goods__header">#}
                        {#                                                            <div class="b-goods__name">Infiniti QX50</div>#}
                        {#                                                            <ul class="ui-rating list-unstyled">#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li><i class="fas fa-star"></i></li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck" /></div>#}
                        {#                                                        </div>#}
                        {#                                                        <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>#}
                        {#                                                        <div class="b-goods__footer">#}
                        {#                                                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>#}
                        {#                                                            <div class="b-goods__price">#}
                        {#                                                                <div class="b-goods__price-main bg-primary">$45,000</div>#}
                        {#                                                                <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                        {#                                                            </div>#}
                        {#                                                            <ul class="b-goods-descr list-unstyled">#}
                        {#                                                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                        {#                                                                <li class="b-goods-descr__item">2019</li>#}
                        {#                                                                <li class="b-goods-descr__item">Manual</li>#}
                        {#                                                                <li class="b-goods-descr__item">Petrol</li>#}
                        {#                                                                <li class="b-goods-descr__item">661 hp</li>#}
                        {#                                                            </ul>#}
                        {#                                                            <button class="b-goods__link text-primary" type="button">Compare</button>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                                <div class="flip__back">#}
                        {#                                                    <div class="b-goods__header">#}
                        {#                                                        <div class="b-goods__name">Infiniti QX50</div>#}
                        {#                                                        <div class="b-goods__category">Classic SUV</div>#}
                        {#                                                        <div class="flip-btn-hide"></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="b-goods-info">#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Cruise Control Option</span><span class="b-goods-info__desc col-auto">Standard</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Transmission</span><span class="b-goods-info__desc col-auto">Automatic</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Mileage</span><span class="b-goods-info__desc col-auto">48,000 km</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="flip__footer">#}
                        {#                                                        <button class="btn btn-primary btn-lg w-100">Reserve now</button>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <!-- end .b-goods-->#}

                        {#                                </div>#}
                        {#                                <div class="col">#}
                        {#                                    <div class="b-goods b-goods_list b-goods_back_sm">#}
                        {#                                        <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>#}
                        {#                                        <div class="flip-container">#}
                        {#                                            <div class="flipper">#}
                        {#                                                <div class="flip__front">#}
                        {#                                                    <div class="b-goods__img"><img class="img-scale" src="assets/media/content/b-goods/294x223/4.jpg" alt="foto" /></div>#}
                        {#                                                    <div class="b-goods__inner">#}
                        {#                                                        <div class="b-goods__header">#}
                        {#                                                            <div class="b-goods__name">Acura tlx 2019</div>#}
                        {#                                                            <ul class="ui-rating list-unstyled">#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li><i class="fas fa-star"></i></li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck" /></div>#}
                        {#                                                        </div>#}
                        {#                                                        <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>#}
                        {#                                                        <div class="b-goods__footer">#}
                        {#                                                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>#}
                        {#                                                            <div class="b-goods__price">#}
                        {#                                                                <div class="b-goods__price-main bg-primary">$45,000</div>#}
                        {#                                                                <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                        {#                                                            </div>#}
                        {#                                                            <ul class="b-goods-descr list-unstyled">#}
                        {#                                                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                        {#                                                                <li class="b-goods-descr__item">2019</li>#}
                        {#                                                                <li class="b-goods-descr__item">Manual</li>#}
                        {#                                                                <li class="b-goods-descr__item">Petrol</li>#}
                        {#                                                                <li class="b-goods-descr__item">661 hp</li>#}
                        {#                                                            </ul>#}
                        {#                                                            <button class="b-goods__link text-primary" type="button">Compare</button>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                                <div class="flip__back">#}
                        {#                                                    <div class="b-goods__header">#}
                        {#                                                        <div class="b-goods__name">Acura tlx 2019</div>#}
                        {#                                                        <div class="b-goods__category">Classic SUV</div>#}
                        {#                                                        <div class="flip-btn-hide"></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="b-goods-info">#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Cruise Control Option</span><span class="b-goods-info__desc col-auto">Standard</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Transmission</span><span class="b-goods-info__desc col-auto">Automatic</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Mileage</span><span class="b-goods-info__desc col-auto">48,000 km</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="flip__footer">#}
                        {#                                                        <button class="btn btn-primary btn-lg w-100">Reserve now</button>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <!-- end .b-goods-->#}

                        {#                                </div>#}
                        {#                                <div class="col">#}
                        {#                                    <div class="b-goods b-goods_list b-goods_back_sm">#}
                        {#                                        <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>#}
                        {#                                        <div class="flip-container">#}
                        {#                                            <div class="flipper">#}
                        {#                                                <div class="flip__front">#}
                        {#                                                    <div class="b-goods__img"><img class="img-scale" src="assets/media/content/b-goods/294x223/5.jpg" alt="foto" /></div>#}
                        {#                                                    <div class="b-goods__inner">#}
                        {#                                                        <div class="b-goods__header">#}
                        {#                                                            <div class="b-goods__name">Jaguar I-Pace 2019</div>#}
                        {#                                                            <ul class="ui-rating list-unstyled">#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li><i class="fas fa-star"></i></li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck" /></div>#}
                        {#                                                        </div>#}
                        {#                                                        <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>#}
                        {#                                                        <div class="b-goods__footer">#}
                        {#                                                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>#}
                        {#                                                            <div class="b-goods__price">#}
                        {#                                                                <div class="b-goods__price-main bg-primary">$45,000</div>#}
                        {#                                                                <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                        {#                                                            </div>#}
                        {#                                                            <ul class="b-goods-descr list-unstyled">#}
                        {#                                                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                        {#                                                                <li class="b-goods-descr__item">2019</li>#}
                        {#                                                                <li class="b-goods-descr__item">Manual</li>#}
                        {#                                                                <li class="b-goods-descr__item">Petrol</li>#}
                        {#                                                                <li class="b-goods-descr__item">661 hp</li>#}
                        {#                                                            </ul>#}
                        {#                                                            <button class="b-goods__link text-primary" type="button">Compare</button>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                                <div class="flip__back">#}
                        {#                                                    <div class="b-goods__header">#}
                        {#                                                        <div class="b-goods__name">Jaguar I-Pace 2019</div>#}
                        {#                                                        <div class="b-goods__category">Classic SUV</div>#}
                        {#                                                        <div class="flip-btn-hide"></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="b-goods-info">#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Cruise Control Option</span><span class="b-goods-info__desc col-auto">Standard</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Transmission</span><span class="b-goods-info__desc col-auto">Automatic</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Mileage</span><span class="b-goods-info__desc col-auto">48,000 km</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="flip__footer">#}
                        {#                                                        <button class="btn btn-primary btn-lg w-100">Reserve now</button>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <!-- end .b-goods-->#}

                        {#                                </div>#}
                        {#                                <div class="col">#}
                        {#                                    <div class="b-goods b-goods_list b-goods_back_sm">#}
                        {#                                        <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>#}
                        {#                                        <div class="flip-container">#}
                        {#                                            <div class="flipper">#}
                        {#                                                <div class="flip__front">#}
                        {#                                                    <div class="b-goods__img"><img class="img-scale" src="assets/media/content/b-goods/294x223/1.jpg" alt="foto" /></div>#}
                        {#                                                    <div class="b-goods__inner">#}
                        {#                                                        <div class="b-goods__header">#}
                        {#                                                            <div class="b-goods__name">Audi a7 2019</div>#}
                        {#                                                            <ul class="ui-rating list-unstyled">#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li class="active"><i class="fas fa-star"></i></li>#}
                        {#                                                                <li><i class="fas fa-star"></i></li>#}
                        {#                                                            </ul>#}
                        {#                                                            <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck" /></div>#}
                        {#                                                        </div>#}
                        {#                                                        <div class="b-goods__info">Velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt.</div>#}
                        {#                                                        <div class="b-goods__footer">#}
                        {#                                                            <div class="b-goods__main-descr"><i class="ic flaticon-speedometer"></i>53,000 mi</div>#}
                        {#                                                            <div class="b-goods__price">#}
                        {#                                                                <div class="b-goods__price-main bg-primary">$45,000</div>#}
                        {#                                                                <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                        {#                                                            </div>#}
                        {#                                                            <ul class="b-goods-descr list-unstyled">#}
                        {#                                                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                        {#                                                                <li class="b-goods-descr__item">2019</li>#}
                        {#                                                                <li class="b-goods-descr__item">Manual</li>#}
                        {#                                                                <li class="b-goods-descr__item">Petrol</li>#}
                        {#                                                                <li class="b-goods-descr__item">661 hp</li>#}
                        {#                                                            </ul>#}
                        {#                                                            <button class="b-goods__link text-primary" type="button">Compare</button>#}
                        {#                                                        </div>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                                <div class="flip__back">#}
                        {#                                                    <div class="b-goods__header">#}
                        {#                                                        <div class="b-goods__name">Audi a7 2019</div>#}
                        {#                                                        <div class="b-goods__category">Classic SUV</div>#}
                        {#                                                        <div class="flip-btn-hide"></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="b-goods-info">#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Cruise Control Option</span><span class="b-goods-info__desc col-auto">Standard</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Transmission</span><span class="b-goods-info__desc col-auto">Automatic</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Mileage</span><span class="b-goods-info__desc col-auto">48,000 km</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                        {#                                                        <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                        {#                                                    </div>#}
                        {#                                                    <div class="flip__footer">#}
                        {#                                                        <button class="btn btn-primary btn-lg w-100">Reserve now</button>#}
                        {#                                                    </div>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <!-- end .b-goods-->#}

                        {#                                </div>#}
                        {#                            </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end layout-theme-->





{% endblock %}