<!-- Start Switcher -->
<div class="switcher-wrapper">
    <div class="demo_changer">
      <div class="demo-icon text-primary">
        <i class="fa fa-cog fa-spin fa-2x"></i>
      </div>
      <div class="form_holder">
        <div class="predefined_styles">
          <div class="skin-theme-switcher">
            <h4>
              Admin
            </h4>
            <!-- Button trigger modal -->
  
            <button class="btn-primary"
              data-toggle="modal"
              data-target="#adminaddcar">
              <i class="fa fa-plus"></i>
            </button>
  
            <button class="btn-primary"
              style="  margin-top: 10px;"
              data-toggle="modal"
              data-target="#exampleModalCenter">
              <i class="fas fa-users"></i>
            </button>
            <a class="styleswitch"
              href="javascript:void(0);"
              data-switchcolor="color1"
              style="background-color:#e3740e;">
  
            </a>
            <a class="styleswitch"
              href="javascript:void(0);"
              data-switchcolor="color2"
              style="background-color:#9e8a2b;">
  
            </a>
            <a class="styleswitch"
              href="javascript:void(0);"
              data-switchcolor="color3"
              style="background-color:#28af0f;">
  
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ========================== -->
  <!-- SEARCH MODAL -->
  <!-- ========================== -->
  <div class="header-search open-search">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 col-10 offset-1">
          <div class="navbar-search">
            <form   class="search-global" action="search" method="POST">
              <input class="search-global__input"
                type="text"
                placeholder="Type to search"
                autocomplete="off"
                name="name"
                value="" />
              <button class="search-global__btn"  type="submit" >
                <i class="icon stroke icon-Search"></i>
              </button>
              <div class="search-global__note">
                Begin typing your search above and press return to search.
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button class="search-close close" type="button">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <!-- ========================== -->
  <!-- MOBILE MENU -->
  <!-- ========================== -->
  <div data-off-canvas="mobile-slidebar left overlay">
    <a class="navbar-brand scroll" href="home.html">
      <img class="scroll-logo"
        src="{{ asset('assets/media/general/logo-light.png') }}"
        alt="logo" />
    </a>
  
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inventory</a>
        <ul class="mobile-sub-menu">
          <li><a href="inventory-listings.html">Inventory listing</a></li>
          <li><a href="inventory-grid.html">Inventory grid</a></li>
          <li><a href="vehicle-details.html">Vehicle details</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reservation</a>
        <ul class="mobile-sub-menu">
          <li><a href="reservation-grid.html">Reservation grid</a></li>
          <li><a href="vehicle-reservation.html">Vehicle reservation</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
        <ul class="mobile-sub-menu">
          <li><a href="blog-main.html">Blog grig</a></li>
          <li><a href="blog-main-2.html">Blog list</a></li>
          <li><a href="blog-post.html">Blog post</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
        <ul class="mobile-sub-menu">
          <li><a href="forum-categories.html">Forum categories</a></li>
          <li><a href="forum-main.html">Forum main</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacts.html">Contacts</a>
      </li>
    </ul>
  </div>
  <header class="header header_main-pg">
    <div class="top-bar">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <div class="top-bar__item">
              <a class="top-bar__link" href="mailto:support@domain.com">
                <i class="ic fas fa-envelope text-primary"></i>
                exemple@gmail.com
              </a>
            </div>
            <div class="top-bar__item">
              <i class="ic fas fa-clock text-primary"></i>
              7/7 : 8:00am à 6:00pm
            </div>
            <div class="top-bar__item">
              <i class="ic fas fa-map-marker-alt text-primary"></i>
              Avenue Yasser Arafet Sahloul, Sousse
            </div>
          </div>
          <div class="col-auto">
            <div class="top-bar__item">
              <a class="top-bar__link" href="home.html">
                <i class="ic fas fa-user text-primary"></i>
                Mon Compte
              </a>
            </div>
            <button class="top-bar__btn">
              <i class="ic icon-list"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-main">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <a class="navbar-brand navbar-brand_light scroll"
              href="{{ path('home') }}">
              <img class="normal-logo"
                src="{{ asset('assets/media/general/logo-light.png')}}"
                alt="logo" />
            </a>
            <a class="navbar-brand navbar-brand_dark scroll"
              href="{{ path('home') }}">
              <img class="normal-logo"
                src="{{ asset('assets/media/general/logo-dark.png')}}"
                alt="logo" />
            </a>
          </div>
          <div class="col-auto">
            <div class="header-contacts d-none d-md-block d-lg-none d-xl-block">
              <i class="ic text-primary fas fa-phone"></i>
              <span class="header-contacts__inner">
                <span class="header-contacts__info">
                  Appelez-nous pour l'aide
                </span>
                <a class="header-contacts__number" href="{{ path('home') }}">
                  +216 96 664 666
                </a>
              </span>
            </div>
            <!-- Mobile Trigger Start -->
            <button class="menu-mobile-button js-toggle-mobile-slidebar toggle-menu-button d-lg-none">
              <i class="toggle-menu-button-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </i>
            </button>
            <!-- Mobile Trigger End -->
          </div>
          <div class="col-lg d-none d-lg-block">
            <nav class="navbar navbar-expand-md justify-content-end" id="nav">
              <ul class="yamm main-menu navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                    href="#"
                    data-toggle="dropdown">
                    Véhicule
                  </a>
                  <div class="dropdown-menu"
                    data-aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item"
                      href="{{ path('inventory-listings') }}">
                      Listes Véhicule
                    </a>
                    <a class="dropdown-item" href="{{ path('inventory-grid') }}">
                      Grilles Véhicule
                    </a>
                    {# <a class="dropdown-item" href="vehicle-details.html">Vehicle details</a> #}
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('reservation-grid') }}">
                    Réservation
                  </a>
                  {# <div class="dropdown-menu" data-aria-labelledby="navbarDropdown1"> #}
  
                  {# <a class="dropdown-item" href="reservation-grid.html">Reservation grid</a> #}
                  {# <a class="dropdown-item" href="vehicle-reservation.html">Vehicle reservation</a> #}
  
                  {# </div> #}
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('forum') }}">Forum</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
              </ul>
              <span class="header-main__link btn_header_search">
                <i class="ic fas fa-search"></i>
              </span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  