{% extends 'index.html.twig' %}
{% block body %}
  <!-- Loader-->
  <!--div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div-->
  <!-- Loader end-->
  <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">

    {% include "navbar.html.twig" %}


    <div class="section-title-page area-bg area-bg_dark area-bg_op_60">
      <div class="area-bg__inner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md">
              <h1 class="b-title-page">Liste de voitures</h1>
              <div class="ui-decor bg-primary"></div>
            </div>
            <div class="col-md-auto"><a class="b-title-page__btn bg-primary"  > Reserver une voiture</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end .b-title-page-->
    {% for message in app.flashes('success') %}
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Succès!</strong> {{ message }}!
      </div>

    {% endfor %}

    <div class="container text-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="ic text-primary fas fa-home"></i>Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Réservation voitures</li>
        </ol>
      </nav>
    </div>
    <!-- end breadcrumb-->

    <div class="l-main-content">
      <div class="b-steps">
        <div class="container">
          <div class="b-steps__item">
            <button class="b-steps__btn bg-primary" type="button">1</button><span class="b-steps__info">Vehicle Selection</span>
          </div>
          <div class="b-steps__item">
            <button class="b-steps__btn bg-primary" type="button">2</button><span class="b-steps__info">Add Extras</span>
          </div>
          <div class="b-steps__item">
            <button class="b-steps__btn bg-primary" type="button" disabled="disabled">3</button><span class="b-steps__info">Review & Book</span>
          </div>
        </div>
      </div>
      <!-- end .b-steps-->

      <div class="bg-gray pt-5">
        <div class="container mt-3">
          <div class="b-filter-goods b-filter-goods_center mb-5 pb-4">
            <div class="b-filter-goods__select">
              <select class="selectpicker" data-width="170px" title="Newest First" multiple="multiple" data-max-options="1" data-style="ui-select ui-select_sm">
                <option>A-Z</option>
                <option>Z-A</option>
              </select>
            </div>
            <div class="b-filter-goods__select">
              <select class="selectpicker" data-width="142px" multiple="multiple" data-max-options="1" data-style="ui-select ui-select_sm">
                <option>10 Items</option>
                <option selected="selected">15 Items</option>
                <option>20 Items</option>
              </select>
            </div>
            <button class="b-filter-goods__btn btn" type="button">Compare<span class="badge bg-primary">2</span></button>
            <div class="b-filter-goods__info">{{vehicles|length}} Voitures</div>
          </div>
          <!-- end .b-filter-goods-->

          <div class="section-goods pb-4">
            <div class="b-goods-group row">
              {% for vehicle in vehicles %}
                <div class="col-lg-4 col-md-6">
                  <div class="b-goods b-goods_back_sm">
                    <button class="flip-btn"><span></span><span class="flip-btn-mdl"></span><span></span></button>
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="flip__front">
                          <div class="b-goods__img"><img class="img-scale" src="{{vehicle.getPictures()[0].getPath()}}" alt="foto"/></div>
                          <div class="b-goods__inner">
                            <div class="b-goods__header">
                              <div class="b-goods__name">{{vehicle.name}}</div>
                              <ul class="ui-rating list-unstyled">
                                <li class="active"><i class="fas fa-star"></i></li>
                                <li class="active"><i class="fas fa-star"></i></li>
                                <li class="active"><i class="fas fa-star"></i></li>
                                <li class="active"><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                              </ul>
                              <div class="b-goods__check"><img class="img-fluid" src="assets/media/content/b-goods/check.jpg" alt="AutoCheck"/></div>
                            </div>
                            <div class="b-goods__info">{{vehicle.description}}</div>
                            <div class="b-goods__footer">
                              <div class="b-goods__price">
                                <div class="b-goods__price-main bg-primary">{{vehicle.price}}</div>
                                {#                                  <div class="b-goods__price-msrp">MSRP: $35,480</div>#}
                              </div>
                              <div class="b-goods__main-descr">TND</div>
                              {#                              <ul class="b-goods-descr list-unstyled">#}
                              {#                                <li class="b-goods-descr__item b-goods-descr__item_main"><i class="ic flaticon-speedometer"></i>53,000 mi</li>#}
                              {#                                <li class="b-goods-descr__item">2019</li>#}
                              {#                                <li class="b-goods-descr__item">Manual</li>#}
                              {#                                <li class="b-goods-descr__item">Petrol</li>#}
                              {#                                <li class="b-goods-descr__item">661 hp</li>#}
                              {#                              </ul>#}
                              {#                              <button class="b-goods__link text-primary" type="button">Compare</button>#}
                              <ul class="b-goods-descr list-unstyled">

                                <li class="b-goods-descr__item">{{vehicle.description}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="flip__back">
                          <div class="b-goods__header">
                            <div class="b-goods__name">{{vehicle.name}}</div>
                            <div class="b-goods__category">{{vehicle.marque}}</div>
                            <div class="flip-btn-hide"></div>
                          </div>
                          <div class="b-goods-info">
                            <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Année</span><span class="b-goods-info__desc col-auto">{{vehicle.year}}</span></div>
                            <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Disponible</span><span class="b-goods-info__desc col-auto">
                                   {% if vehicle.available == false %}

                                     NON

                                   {% else %}
                                     OUI

                                   {% endif %}
                                </span></div>
                            <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Prix</span><span class="b-goods-info__desc col-auto">{{vehicle.price}}</span></div>
                            {#                              <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Engine / Fuel Capacity</span><span class="b-goods-info__desc col-auto">V8 2.5L / 8 Gal</span></div>#}
                            {#                              <div class="b-goods-info__item row no-gutters justify-content-between"><span class="b-goods-info__title col-auto">Vehicle Layout</span><span class="b-goods-info__desc col-auto">5 Pass, 4-Door Hatch</span></div>#}
                          </div>
                          <div class="flip__footer">
                            <a id="sk" class="btn btn-primary btn-lg w-100" data-toggle="modal" data-target="#modal-default" href="{{ path('sk', { 'id': vehicle.id  }) }}">Reserver</a>
{#                            {{form_start(buttonReserve)}}#}
{#                            {{form_widget(buttonReserve)}}#}
{#                            {{form_end(buttonReserve)}}#}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end .b-goods-->

                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
              <div class="container">
                <nav class="pt-4" aria-label="Page navigation example">
                  <ul class="pagination justify-content-center pt-5">

                    <div class="page-item">
                      {{ knp_pagination_render(vehicles) }}
                    </div>
                  </ul>
                </nav>
              </div>
    </div>

  </div>
  <!-- end layout-theme-->

  <!-- Modal -->
  <div class="modal fade"
       id="modal-default"
       tabindex="-1"
       role="dialog"
       aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
           Réservé Une Voiture


          </h5>
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        {{form_start(form)}}
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputEmail4">
                Date Début
              </label>
              {{form_widget(form.start)}}
            </div>
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputPassword4">
               Date Fin
              </label>
              {{form_widget(form.stop)}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputEmail4">
                Nom et Prénom
              </label>
              {{form_widget(form.name)}}
            </div>
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputPassword4">
                Ville
              </label>
              {{form_widget(form.country)}}
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputEmail4">
                Téléphone
              </label>
              {{form_widget(form.mobile)}}
            </div>
            <div class="form-group col-md-6">
              <label class="text-primary" for="inputPassword4">
                Email
              </label>
              {{form_widget(form.email)}}
            </div>
          </div>




        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
          </button>
          {{form_widget(form.save)}}
        </div>

        {{form_end(form)}}
      </div>
    </div>
  </div>
  <!-- end switcher -->







{% endblock %}